#{extends 'main.html' /}
#{set title:'馥蘭朵烏來渡假酒店 Volando Urai Spring SPA Resort' /}
<div class="mainbar">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>QR Code</th>
            <th>APP 名稱</th>
            <th>APP 描述</th>
            　<th></th>
        </tr>
        <tr>
            <th><img src="/public/images/downloadapp/QR-VolandoApp.jpg" width="200" height="200" /></th>
            <th><a href="/public/media/VolandoApp.apk">Volando Android  APP    <br> 服務台訊息互動功能</a></th>
            <th>目前僅提供住宿客戶使用。
                <br>
                使用時須登入帳號、密碼。
            </th>
        </tr>
        <tr><th><p></p></th><th><p></p></th><th><p></p></th></tr>
        <tr><th><p></p></th><th><p></p></th><th><p></p></th></tr>
        <tr><th><p></p></th><th><p></p></th><th><p></p></th></tr>
        <tr><th><p></p></th><th><p></p></th><th><p></p></th></tr>
        <tr><th><p></p></th><th><p></p></th><th><p></p></th></tr>
        <tr><th><p></p></th><th><p></p></th><th><p></p></th></tr>
        <tr><th><p></p></th><th><p></p></th><th><p></p></th></tr>
        <tr><th><p></p></th><th><p></p></th><th><p></p></th></tr>
        <tr><th><p></p></th><th><p></p></th><th><p></p></th></tr>
        <tr>
            <th><img src="/public/images/downloadapp/QR-VolandoNFC.jpg" width="200" height="200" /></th>
            <th><a href ="/public/media/VolandoNFC.apk"> Volando NFC APP <br>藉由NFC自動連結影片以及相關藝術品的介</a></th>
            <th>限館內配合NFC Tag使用。<br>
                Android 具NFC功能之行動裝置適用。</th>
        </tr>

    </talbe>
</div>
