#{extends 'main_mobile.html' /}
#{set title:'服務台' /}
<link rel="stylesheet" href="/public/machome/style/bootstrap-datetimepicker.min.css">
<script src="/public/machome/js/bootstrap-datetimepicker.min.js"></script>


<!-- Page Heading ends -->

<!-- Page content starts -->
<div class="content">
  <div class="container">
    <div class="row">
	<div class="span12">
			   
		<ul>
		#{if gbList}
		       #{list gbList, as:'gbList'}
        		 <li>
	<!--			#{if gbList?.guestBookType == 'qa'}#{if language=='zh-tw'}問答#{/if}#{if language=='en'}Q&A#{/if}#{/if}
				#{elseif gbList?.guestBookType == 'hotel'}#{if language=='zh-tw'}住房問題#{/if}#{if language=='en'}Room#{/if}#{/elseif}
				#{elseif gbList?.guestBookType == 'spa'}#{if language=='zh-tw'}溫泉問題#{/if}#{if language=='en'}Hot spring#{/if}#{/elseif}
				#{elseif gbList?.guestBookType == 'traffic'}#{if language=='zh-tw'}交通#{/if}#{if language=='en'}Traffic#{/if}#{/elseif}
				#{elseif gbList?.guestBookType == 'tour'}#{if language=='zh-tw'}觀光#{/if}#{if language=='en'}Tour#{/if}#{/elseif}
				#{elseif gbList?.guestBookType == 'comment'}#{if language=='zh-tw'}意見#{/if}#{if language=='en'}Comments#{/if}#{/elseif}
				#{elseif gbList?.guestBookType == 'device'}#{if language=='zh-tw'}設備租借#{/if}#{if language=='en'}Equipment#{/if}#{/elseif}
				#{if language=='zh-tw'}留言編號：#{/if}#{if language=='en'}No: #{/if}${gbList?.id} -
				<a href="/Application/showguestbookmobile/${gbList?.id}">#{if language=='zh-tw'}查看留言#{/if}#{if language=='en'}Hotel feedback#{/if}</a> -->
                                #{if gbList?.guestBookType == 'qa'}#{if language=='zh-tw'}問答#{/if}#{if language=='en'}Q&A#{/if}#{/if}
                #{elseif gbList?.guestBookType == 'hotel'}#{if language=='zh-tw'}住房問題#{/if}#{if language=='en'}Room#{/if}#{/elseif}
                #{elseif gbList?.guestBookType == 'spa'}#{if language=='zh-tw'}溫泉問題#{/if}#{if language=='en'}Hot spring#{/if}#{/elseif}
                #{elseif gbList?.guestBookType == 'traffic'}#{if language=='zh-tw'}交通#{/if}#{if language=='en'}Traffic#{/if}#{/elseif}
                #{elseif gbList?.guestBookType == 'tour'}#{if language=='zh-tw'}觀光#{/if}#{if language=='en'}Tour#{/if}#{/elseif}
                #{elseif gbList?.guestBookType == 'comment'}#{if language=='zh-tw'}意見#{/if}#{if language=='en'}Comments#{/if}#{/elseif}
                #{elseif gbList?.guestBookType == 'device'}#{if language=='zh-tw'}設備租借#{/if}#{if language=='en'}Equipment#{/if}#{/elseif}
                #{if language=='zh-tw'}留言編號：#{/if}#{if language=='en'}No: #{/if}${gbList?.id} -
                <a href="/Application/showguestbookmobile/${gbList?.id}">#{if language=='zh-tw'}查看留言#{/if}#{if language=='en'}Hotel feedback#{/if}</a>

			</li>
		       #{/list}
		#{/if}
		#{else}
			#{if language=='zh-tw'}目前尚無已撰寫之留言。#{/if}#{if language=='en'}No feedback#{/if}
		#{/else}
	   </ul>		
	</div>
	#{a @Application.mobileHome(lang=language)}<button class="btn" type="button">#{if language=='zh-tw'}回首頁#{/if}#{if language=='en'}Home#{/if}</button>#{/a}
     </div>
   </div>
</div>
