#{extends 'main.html' /}
#{set title:'馥蘭朵烏來渡假酒店 Volando Urai Spring SPA Resort - 會議專案' /}
<!--<style type="text/css">
.style_title { font-size: 14pt; -webkit-text-size-adjust:none;  color: #C6002F;}
.news-items {
	margin: 0px 10px 10px 0px;
	padding: 0px 10px 30px 0px;
	width: 100%;
	text-align:left;
	position:relative;
}
.items {
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 30px 0px;
	width: 490px;
	float:left;
}
.new-items-icon {
	width:	55px;
	height:	55px;
	position:absolute;
	left:-60px;
}

.news-content-text-block{
	width:					100%;
	height:auto;
	padding:				10px;
	text-align:				justify;
	margin-top:			10px;
}

.block2 {
	margin: 0px auto;
	padding: 10px;
	text-align: left;
	width: 100%;
	height:auto;

}
</style>-->
<script type="text/javascript">

    //ImgD:要放图片的img元素，onload时传参可用this

    //h:img元素的高度，像素

    //w:img元素的宽度，像素
    function autosize(ImgD, h, w) {
        var image = new Image();
        image.src = ImgD.src;
        if (image.width < w && image.height < h) {
            ImgD.width = image.width;
            ImgD.height = image.height;
        }
        else {
            if (w / h <= image.width / image.height) {
                ImgD.width = w;
                ImgD.height = w * (image.height / image.width);
            }
            else {
                ImgD.width = h * (image.width / image.height);
                ImgD.height = h;
            }
        }

    }
</script>
<script type="text/javascript" src="/public/javascripts/exeImage.js"></script>

<script type=text/javascript>
 function show_hiddendiv(strHref, hidden_div){
 	document.getElementById(hidden_div).style.display='block';
 	document.getElementById(strHref).href='javascript:hidden_showdiv(\''+ strHref +'\',\'' + hidden_div + '\');';
	//alert("11111");
 	//document.getElementById("_strSpan").innerHTML="隐藏部分";
 }
 function hidden_showdiv(strHref, hidden_div){
 	document.getElementById(hidden_div).style.display='none';
 	document.getElementById(strHref).href='javascript:show_hiddendiv(\''+ strHref +'\',\'' + hidden_div + '\');';
	
 }
 </script> 

<div class="block-borderless" style="height:220px; margin-bottom:10px; background-image:url(/public/images/meeting/banner.jpg);"></div>
  
<!--  <div id="contents"> -->
	<div class="block">
            <div class="block2">
					<div class="items" style="width:230px; height:400px;">
					  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
					    <tr>
					      	<td id="bt1" style="opacity:#{if category == "meetingIntro"}1#{/if}#{else}0.5#{/else}" align="left" valign="bottom">
                   		  				<img src="/public/images/line-v.png" width="12" height="23" />
                                      <a href="/Meeting/list/meetingIntro"> 
<!--  <a href="javascript:SetInnerHtml(1)">-->                                      <img src="/public/images/meeting/t-1.gif" /></a>
                                </td>
				        </tr> <tr>
                        <td height="32" align="left" valign="bottom">&nbsp;</td>
                        </tr><tr>
					      		<td id="bt2" style="opacity:#{if category == "meetingProject"}1#{/if}#{else}0.5#{/else}" align="left" valign="bottom">
                          				<img src="/public/images/line-v.png" width="12" height="23" /><a href="/Meeting/list/meetingProject"><!--<a href="javascript:SetInnerHtml(2)">--><img src="/public/images/meeting/t-2.gif"/></a>
                                </td>
				        </tr>
          
			<tr>                        
			<td height="32" align="left" valign="bottom">&nbsp;</td>
                        </tr><tr>
                        		<td id="bt3" style="opacity:#{if category == "meetingAddOn"}1#{/if}#{else}0.5#{/else}" align="left" valign="bottom">
                          				<img src="/public/images/line-v.png" width="12" height="23" /><a href="/Meeting/list/meetingAddOn"><!--<a href="javascript:SetInnerHtml(3)">--><img src="/public/images/meeting/t-3.gif"/></a>
                                </td>
				        </tr>                        
			
			
                      
				      </table>
                      
					</div>
                    
                    <div id="mainText" class="items" style="width:760px;">
                    <!--發佈主文區-->
				<div class="news-items">				
				#{if meeting}
				     	#{list meeting, as:'meeting'}
                        <span class="style_title" > 
  <a id=strHref_${meeting?.id} href="javascript:show_hiddendiv('strHref_${meeting?.id}' ,'hidden_div_${meeting?.id}');">                      
                            #{if meeting.iconUrl!= "" &&meeting.iconUrl != null}
     

            <img src="${meeting.iconUrl == null ? '' : meeting.iconUrl}" onload="autosize(this,55  ,55);" align="top"/>
         

                            #{/if}
  ${meeting?.title}</a> </span>
<span style="display: none; margin-left:20px;" id="hidden_div_${meeting?.id}">
			<div class="news-content-text-block font-DGRAY-Normal">
		                   ${meeting?.content.raw()}
		        </div>
		</span> 
 <p></p><p></p><p></p>
					#{/list}
				#{/if}
				#{else}
					目前尚無已公佈之資訊。
				#{/else}
                  </div>

			</div>
                    
            </div>
            
     
	</div>
    <div class="main-footer-block"></div>

