

#{extends 'main_admin.html' /}
#{set title:'套餐管理 - 套餐編輯' /}
<!-- Main bar -->
  	<div class="mainbar">

      <!-- Page heading -->
      <div class="page-head">
        <h2 class="pull-left"><i class="icon-home"></i> 套餐編輯</h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="/admin"><i class="icon-home"></i> Home</a>
	  <span class="divider">/</span>  
	  <a href="/InformationManagement/list">套餐管理</a>          
	<!-- Divider -->
          <span class="divider">/</span> 
          <a href="#" class="bread-current">套餐編輯</a>
        </div>

        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->
		<script language="javascript">
	    $(document).ready(function() { 	
	
		$('#imageform').ajaxForm( {
		    beforeSubmit: function() {
			$(this).addClass('loading');
			$('#uploadBox').html('<div id="progressOverlay"><div class="progress progress-striped"><div class="bar" id="progressBar" style="width: 0%;">0%</div></div></div>');
		    },
		    uploadProgress: function ( event, position, total, percentComplete ) {
			if (percentComplete == 100) {
			    $('#progressBar').css('width',percentComplete+'%').html('圖片上傳完成');
			} else {
			    $('#progressBar').css('width',percentComplete+'%').html(percentComplete+'%');
			}
		    },
		    success : function ( html ) {
			//Your Custom JS Code Here
			console.log("test");	
			content = "<img style='width: 200px;' src='" + html + "' />";	
			$('#uploadBox').html(content);
			$('#pic_location').val(html);
		    }
		});
	    }); 
	</script>

	    <!-- Matter -->
	
	    <div class="matter">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span8">

              <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">套餐編號: ${mealset?.id} 編輯</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                  <div class="padd">
                    #{form @updatemealsetbyID(id), enctype:'multipart/form-data'}
                    	<div class="well"><label>所屬餐廳:</label>
							<input type="text" name="restaurant_id" value="${mealset.restaurant_id == null ? '' : mealset.restaurant_id}" class="span8" placeholder="">
						</div>
                    	<div class="well"><label>套餐名稱 :</label>
							<input type="text" name="name" value="${mealset.name == null ? '' : mealset.name}" class="span8" placeholder="餐廳名稱">
						</div>
						<div class="well"><label>套餐價位:</label>
							<input type="text" name="prize" value="${mealset.prize == null ? '' : mealset.prize}" class="span8" placeholder="300">
						</div>
						<div class="well"><label>套餐圖檔:</label>
							    
							#{if mealset.pic_location != "" && mealset.pic_location != null}
							<div id="oldImageBox" style="margin-bottom: 10px;">
								<label>已上傳之圖片</label>								
								<img style="width: 200px" src="${mealset.pic_location == null ? '' : mealset.pic_location}" />
							</div>							    	
							#{/if}
							    							    
						
							<button class="btn" type="button" onClick="$('#photoimg').click();">
								上傳圖片
							</button>
							<input type="hidden" name="pic_location" id="pic_location" value="${mealset.pic_location == null ? '' : mealset.pic_location}" />
							<div style="margin-top: 10px;" id="uploadBox">
							
							</div>

						</div>
						<div class="well"><label>套餐圖片:</label>
							<input type="text" name="pic_location" value="${mealset.pic_location == null ? '' : mealset.pic_location}" class="span8" placeholder="">
						</div>
						
			
						<div class="well"><label>描述 :</label>
							<textarea id="description" style="width: 500px; height: 100px;" name="description">${mealset?.description}</textarea>
							
						</div>
						
						<div class="center"><input type="submit" name="submit" value="Submit" style="width:120px; height:32px; margin-top:30px"></div>
					#{/form}
                   
                  </div>
                  <div class="widget-foot">
                    <!--Word Count : 205-->
                  </div>
                </div>
              </div>  
            </div>
		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->
