
#{extends 'main.html' /}
#{set title:'馥蘭朵烏來渡假酒店 Volando Urai Spring SPA Resort - 關於馥蘭朵' /}
<div id="contents">
	
	<div class="block"></div>
  <div class="block">
    <div id="about_header">
						<div id="about-logo-1"><img src="/public/images/about/logo.png" /></div>
                        <div id="about-logo-2"><img src="/public/images/about/logo2.jpg" /></div>
    </div>
                
<table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                          <td width="50%">
                                  <span class="leftfloat">
                                  <span class="title_v_line"></span>
                                  <span class="font-Title">馥蘭朵介紹</span>
                                  </span>
                          </td>
                          <td width="50%">
                           		  <span class="leftfloat font-Title">
                                   		  <span class="title_v_line"></span>
                                          羅萊夏朵介紹
                                  </span>
                          </td>
       		       </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="10">
            <tr>
              <td width="50%" align="left" valign="top">
               
               
                <p>在馥蘭朵烏來 <br />
                沒有時間度量衡 <br />
                人們望著河水 細數著水面靜靜迴旋的波紋 <br />
                隨著山林中光線的甦醒 而知覺傍晚的來臨 <br />
                隨著林樹的擺動 開始和山川的呼吸一致 <br />
                人類的語言在這是會打擾人的 <br />
                住在這裡的人們既沒有多餘的贅語問候 <br />
                只有足以表達善意的微笑 及貼心為您遞上暖暖的茶水 <br />
                造訪的人們隨著自然韻律呼吸 而發現自己<br />
                回歸至一個人與自然真正相處的空間 </p></td>
              <td width="50%" align="left" valign="top">
               
               
                <p>羅萊夏朵精品酒店集團（RELAIS &amp; CHATEAUX）於1954年在法國創建，為全球公認的頂級特色精品酒店品牌，迄今為止，集團在全球60個國家，已嚴格甄選500家富有獨特創意的頂級特色酒店以及美食家餐廳；集團下的成員，共擁有300多顆的米其林星，以『5C原則』-獨特(Caractère)，殷勤(Courtoisie )，寧靜(Calme)，魅力( Charme)及美食(Cuisine)，做為組織的評鑑標準，邀您盡享奢華生活方式的精髓。羅萊夏朵精品酒店集團(RELAIS &amp; CHATEUX)的成功秘訣是：讓您在獨一無二的地點體驗獨一無二的經歷。</p>
                <p>而馥蘭朵烏來渡假酒店,於2013年榮獲羅萊夏朵(RELAIS &amp; CHATEAUX)評鑑成為台灣精品酒店會員。</p>
              </td>
            </tr>
    </table>
  </div>
            
  		<div class="block">
                <span class="title_v_line"></span><span class="font-Title">陣容介紹</span>
                <br />
                「藝術」源自「能量」，是淨化過程後的產物， 在「覺知的能量中」創造無限的可能<br />
                <br />
            
                <table width="100%" border="0" cellpadding="0" cellspacing="10">
                        <tr>
                          <td width="25%" align="left" valign="top"><a href="/Pages/about/artist1"><img src="/public/images/about/people-1.jpg" alt="" width="230" height="250" /></a><br />
                          羅桑席讓 </td>
                          <td width="25%" align="left" valign="top"><a href="/Pages/about/artist2"><img src="/public/images/about/people-2 (1).jpg" alt="" width="230" height="250" /></a><br />
                            吳宗霖 </td>
                          <td width="25%" align="left" valign="top"><a href="/Pages/about/artist3"><img src="/public/images/about/people-3 (1).jpg" alt="" width="230" height="250" /></a><br />
                            王錫坤 </td>
                          <td width="25%" align="left" valign="top"><a href="/Pages/about/artist4"><img src="/public/images/about/people-4 (1).jpg" alt="" width="230" height="250" /></a><br />
                            芮斯 </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><a href="/Pages/about/artist5"><img src="/public/images/about/people-5.jpg" alt="" width="230" height="250" /></a><br />
                            胡健 </td>
                          <td align="left" valign="top"><a href="/Pages/about/artist6"><img src="/public/images/about/people-6.jpg" alt="" width="230" height="250" /></a><br />
                            布秋榮 </td>
                          <td align="left" valign="top"><a href="/Pages/about/artist7"><img src="/public/images/about/people-7.jpg" alt="" width="230" height="250" /></a><br />
                            王希文 </td>
                          <td align="left" valign="top"><img src="/public/images/about/people-blank.jpg" alt="" width="230" height="250" /><br /></td>
                        </tr>
                </table>
</div>
        
  		<div class="block">
  		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                    <td width="35%"><span class="title_v_line"></span><span class="font-Title">生活儀式</span></td>
                    <td><span class="title_v_line"></span><span class="font-Title">馥藝廊</span></td>
            </tr>
          </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="10">
                        <tr>
                                <td align="left" valign="top">馥蘭朵的「生活儀式」，<br />
                                  就是時間到了，我們就做ㄧ件單純的事<br />
                                  將生命的感觸與藝術結合，是裝置藝術也是展演，<br />
                    你我來自一方，用互動式的對話，拉近心的距離</td>
                                <td colspan="2" align="left" valign="top">ㄧ個藝術家作品與您心靈交流的空間，<br />
                                  這是個生命經驗的分享，<br />
                                  在此您可以選購藝術家的作品作為珍藏，<br />
                                或是用您的心靈閱讀藝術家的創作過程…</td>
                  </tr>
                        <tr>
                          <td width="35%" valign="top">
                                  <table width="230" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td><a href="/Pages/about/life"><img src="/public/images/about/s-1 (1).jpg" alt="" width="230" height="250" /></a><br />
        								藝術導入生活的儀式中
                                      </td>
                                    </tr>
                                  </table>
                          </td>
                          <td width="29%" valign="top" style="text-align:left;">
                                  <table width="230" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td><a href="/Pages/about/gallery_artist"><img src="/public/images/about/s-2 (1).jpg" alt="" width="230" height="250" /></a><br />
        								藝術家簡介
                                      </td>
                                    </tr>
                                  </table>
                          </td>
                          <td width="33%" valign="top" style="text-align:right;">
                                  <table width="230" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td><a href="/Application/listArts"><img src="/public/images/about/s-3.jpg" alt="" width="230" height="250" /></a><br />
                                        藝品介紹</td>
                                    </tr>
                                  </table>
                          </td>
                        </tr>
          </table>
  </div>


	
       
        
</div>

