#{extends 'main.html' /}
#{set title:'馥蘭朵烏來渡假酒店 Volando Urai Spring SPA Resort - 關於馥蘭朵' /}

#{if category == 'volando'}
<style type="text/css">
 .life_font { font-size: 14pt; -webkit-text-size-adjust:none;  color: #898989; margin-left:10px; margin-top:5px;}
</style>
	<div id="contents" style="background-image:url(/public/images/about/aboutvolandobk.jpg)">
		<div class="block" style="height:800px">
		          <div id="about-volando-text">
		                在馥蘭朵烏來 <br />
		                沒有時間度量衡 <br />
		                人們望著河水 細數著水面靜靜迴旋的波紋 <br />
		                隨著山林中光線的甦醒 而知覺傍晚的來臨 <br />
		                隨著林樹的擺動 開始和山川的呼吸一致 <br />
		                人類的語言在這是會打擾人的 <br />
		                住在這裡的人們既沒有多餘的贅語問候 <br />
		                只有足以表達善意的微笑 及貼心為您遞上暖暖的茶水 <br />
		                造訪的人們隨著自然韻律呼吸 而發現自己<br />
		                回歸至一個人與自然真正相處的空間<br />
		          </div>
		</div>
	</div>
#{/if}

#{elseif category == 'relaishateaux'}
	
	<div id="contents" style="background-image:url(/public/images/about/aboutrlsdbk.jpg)">
		<div class="block" style="height:800px">
		          <div id="about-rlsd-text">
		            <p>羅蘭夏朵精品酒店集(Relais &amp; Châteaux)于1954年在法國創建；旨在弘揚獨有的法國生活方式。迄今為止，集團在全球60個國家，已嚴格甄選520家富有獨特創意的頂級特色酒店以及美食家餐廳加盟；邀您盡享奢華生活方式的精髓 。<br />
		            我們認為真正的奢侈是用充分的時間來体會自然的靜謐和享受的藝術，羅蘭夏朵精品酒店集(Relais &amp; Châteaux)的成功祕笈是：讓您在獨一無二的地點體驗獨一無二的經歷。</p>
		            <p> 而馥蘭朵烏來渡假酒店,於2013年榮獲羅萊夏朵(Relais &amp; Châteaux)評鑑成為台灣精品酒店會員。</p>
		          </div>
		</div>
	</div>
#{/elseif}


#{elseif category == 'artist1'}
	<div id="contents">
     		<div class="block" style="height:578px;">
		          <div id="artist-background"  style="background-image:url(/public/images/about/artist_1.jpg);">
				  <div id="artist-content">
				  		<span style="position:relative; top:4px; left:-5px;">
										<img src="/public/images/about/artist_1_name.gif"/>
								</span>
				        <span class="font-Default-Tiny">/ 馥蘭朵藝術總監</span><br /><br />
				        <strong>
				        將擊鼓的能量或為寧靜柔美的肢體語言，<br />
							  「鼓皮是死的，棒子是死的，但人心是活的！」
				        </strong>
				        <br /><br />
				        <span class="font-Default-Tiny">
				        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ㄧ句「我們有一座山，每天靜坐打鼓」，改變了他的人生……
				        <br /><br />
				        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28歲那年，他尋找那份屬於靈性上單純的美……隨著「優人神鼓」流浪印度、用雙腳走遍台灣鄉鎮、巡演世界藝術殿堂後，17年的表演經歷，無論擊鼓演出、舞蹈肢體、視覺美感創作、舞台服裝空間設計、及編導功力都集於一身！
				        <br /><br />
				        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他探討著人生的價值，看盡人世冷暖，奔波於實際與虛無之間，也許在他的心中世事多變，但不變的是：他心中那ㄧ下ㄧ下盪落的鼓聲，一種讓他沉靜於當下的寧靜！他總是在「教」學鼓藝時說的第一話：「鼓皮是死的、棒子是死的、但人心是活的！」什麼樣的你，就會傳遞著什麼樣的鼓聲，那是騙不了人的！所以求「真」！
				        </span>
				        
				  </div>
			  </div>
		</div>
	</div>

#{/elseif}

#{elseif category == 'artist2'}
	
	<div id="contents">
		  <div class="block" style="height:578px;">
                  <div id="artist-background"  style="background-image:url(/public/images/about/artist_2.jpg);">
                  <div id="artist-content">
                  		<span style="position:relative; top:4px; left:-5px;">
									<img src="/public/images/about/artist_2_name.gif"/>
							</span>
		                <span class="font-Default-Tiny">/ 國寶級銅製藝術家</span><br /><br />
		                <strong>
		                將鑼的寧靜生想轉換成無限的雕塑藝術，<br />
						  「知其性則可為用：以銅為鏡可明性，以銅為樂可靜心」
		                </strong>
		                <br /><br />
		                <span class="font-Default-Tiny">
		                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客居馥蘭朵烏來，入門映眼簾的，即為吳宗霖的「謙夏荷銅」，創作能量澎湃的他，轉而以銅勾勒自然萬物、意像心靈。憶起原民文化的情感，雕刻出透視人性的「祖靈之眼」；融入天地宇宙之禪意，打造了知足圓融的「大圓滿」。作品散發的是信手捻來的自在與寧靜，與山林相呼應，體現感動的生命力！「以銅為鏡可明志，以鑼為樂能靜心」隱居烏來山林的銅雕藝術家，正一搥一搥地敲打自己的夢，在創作中找尋合諧節奏，從震波中呼應自然脈動。那緩慢悠揚的渾厚聲響，將繼續撼動沉睡的心靈，回歸那ㄧ池原始的平靜……
		                </span>
		                
		          </div>
		  </div>
		</div>
	</div>
#{/elseif}


#{elseif category == 'artist3'}
	
	<div id="contents">
		<div class="block" style="height:578px;">
                  <div id="artist-background"  style="background-image:url(/public/images/about/artist_3.jpg);">
                  <div id="artist-content">
                  		<span style="position:relative; top:4px; left:-5px;">
								<img src="/public/images/about/artist_3_name.gif"/>
						</span>
                        <span class="font-Default-Tiny">/ 國寶級製鼓藝術家</span><br /><br />
                        <strong>
                        將傳承文化的精神灌注於製鼓的技藝中，<br />
					  「製鼓過程影響結果，態度決定生命，用心堅持，就能獲得最好的鼓聲」
                        </strong>
                        <br /><br />
                        <span class="font-Default-Tiny">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;「响仁和」這個父親創立超過一甲子的名號，取自佛經：「佛響仁和，棄惡揚善。」謹守精湛的手工、極究的製作，在鐘鼓界享有盛名；秉著悠揚、寬宏、謙虛的精神，傳揚著弘遠的聲響。耗神勞力的製鼓、教育為重的理念，父親「阿塗師」不求依缽繼承，努力栽培後生向學；但他的驟逝，頓時面臨著技藝失傳、基業不保的遽變；於是，斷然決定承襲父志，捍衛這塊父親引以為傲的招牌！然而，企管出身的讀書人，縱使從小耳濡目染，但從未親手實做。看似簡單的去毛、削皮、依樣畫葫蘆後的結果……皮熟了，下一步也甭提了……這才發現，看似簡單的一切，其實越不簡單！
                        </span>
                        
                  </div>
          </div>
        </div>
	</div>
#{/elseif}

#{elseif category == 'artist4'}
	
	<div id="contents" >
		<div class="block" style="height:578px;">
                  <div id="artist-background"  style="background-image:url(/public/images/about/artist_4.jpg);">
                  <div id="artist-content">
                  		<span style="position:relative; top:4px; left:-5px;">
								<img src="/public/images/about/artist_4_name.gif"/>
						</span>
                        <span class="font-Default-Tiny">/ 排灣族傳唱藝術家</span><br /><br />
                        <strong>
                        透過原住民精神的力量穿透靈魂的深處<br />
					  「自己是誰？誰是自己？唱歌跳舞對於排灣族，不是表演，而是生活！」
                        </strong>
                        <br /><br />
                        <span class="font-Default-Tiny">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;來自屏東瑪家鄉涼山的排灣族。帶著女巫靈力的歌聲，開啟了遠古磁場的能量。一位原住民老人對她說：「你唱歌，有魔鬼！」，「如同無法閃躲的吸引力，如風般遨遊天際地舞動雲雨，如幻般勾攝內心深處靈魂」。她說：「小時候，人家說我不像原住民時我好驕傲！」這句話對照曾獲得金曲獎傳藝類最佳演唱人的她，雖有明顯落差，卻道盡大多原民都曾有過的心情……。「兩個不同的文化，那個才是我該追尋？」雖然得獎，但對於事業卻沒遠大的企圖心；尤其當要把歌唱當成表演，她沒有把握也無法掌握；因為唱歌跳舞對於排灣族來說，不是表演，而是生活。就這樣，她迷失在大都會裡開始尋找「我到底是誰？」
                        </span>
                        
                  </div>
          </div>
        </div>
	</div>
#{/elseif}

#{elseif category == 'artist5'}
	
	<div id="contents" >
		 <div class="block" style="height:578px;">
                  <div id="artist-background"  style="background-image:url(/public/images/about/artist_5.jpg);">
                  <div id="artist-content">
                  		<span style="position:relative; top:4px; left:-5px;">
								<img src="/public/images/about/artist_5_name.gif"/>
						</span>
                        <span class="font-Default-Tiny">/ 米靈岸定幕劇製作人</span><br /><br />
                        <strong>
                        帶著原住民文化的熱情實踐為真切的感動<br />
					  「米靈岸Miling'an重拾祖靈的尊嚴與驕傲，更找到了那條通網心靈的故鄉」
                        </strong>
                        <br /><br />
                        <span class="font-Default-Tiny">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;歷時10年的部落尋根、記錄，「米靈岸Miling'an音樂劇場」於是誕生！將生活文化、祭典儀式，融入原生場域的演出方式，讓世人看到嶄新的部落文化、也是最珍貴的傳統文化。「米靈岸」，是個動詞也是個名詞，是排灣族語的「說故事」或「傳說神話」，對沒有文字的他們來說，是千百年來傳頌著的人文歷史，而胡健說：「米靈岸不只是一部製作，更是部落教育重建的重要機制！」因為「米靈岸」才能把珍貴的資產保存，因為「米靈岸」才能將精采的文化傳承！
                        </span>
                        
                  </div>
          </div>
        </div>
	</div>
#{/elseif}

#{elseif category == 'artist6'}
	
	<div id="contents" >
		<div class="block" style="height:578px;">
                  <div id="artist-background"  style="background-image:url(/public/images/about/artist_6.jpg);">
                  <div id="artist-content">
                  		<span style="position:relative; top:4px; left:-5px;">
								<img src="/public/images/about/artist_6_name.gif"/>
						</span>
                        <span class="font-Default-Tiny">/ 國際食藝界的畢卡索</span><br /><br />
                        <strong>
                        ㄧ場堅持心靈食藝的等待<br />
					  「美食不是公式A＋B＝C   固有思維的解讀肯定行不通！」 
                        </strong>
                        <br /><br />
                        <span class="font-Default-Tiny">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 「ABU的料理，是場視覺與味覺的衝擊，是藝術與美食的交響曲！」道道演繹出精采絢麗的繽紛，時刻挑逗著味蕾幸福的歡愉。杯盤大玩配色的神來之筆，烹調大搞創藝的揮灑隨性，以餐盤當畫布，彩繪出食材動人的風景。料理的靈感，全來自於「瘋」盤器；他說：「為了自由買盤子，所以自己開餐廳……」或買、或訂做、或設計，就像女人的櫃子永遠少了那一件衣……他說：「買了就知道要在上面放什麼料理。」料理的美味，全來自於慢細膩；他說：「包裝可以變，但食材與料理的精神不能變、也不容變！」因此，不只是對高檔食材的堅持，基本功的紮實也讓人不容小覷。所以，不只嚐得到最原始的純粹，負責任的敬業也令人讚歎不已！
                        </span>
                        
                  </div>
          </div>
        </div>
	</div>
#{/elseif}

#{elseif category == 'artist7'}
	
	<div id="contents" >
		<div class="block" style="height:578px;">
                  <div id="artist-background"  style="background-image:url(/public/images/about/artist_7.jpg);">
                  <div id="artist-content">
                  		<span style="position:relative; top:4px; left:-5px;">
								<img src="/public/images/about/artist_7_name.gif"/>
						</span>
                        <span class="font-Default-Tiny">/ 心靈音樂藝術家</span><br /><br />
                        <strong>
                        理性與感性的融合是心靈呼吸的節奏<br />
					  「永遠把正在做的事當成非常重要的事，因為可能改變很多人的生命！」
                        </strong>
                        <br /><br />
                        <span class="font-Default-Tiny">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 空間音樂的創作，是王希文的第一次！王希文，以電影「翻滾吧！阿信」入圍金馬獎提名，以街頭快閃音樂劇「寶島歌舞」創造話題！無論何種形式，他都玩得成功、玩得盡興。他說：「幸運與努力是並行的，因為一直努力，所以也一直幸運。」對音樂絕不鬆口的堅持，對配樂永不放棄的意念；這位真正的夢想家說：「希望天上的父親可以看到現在的我，堅持做音樂所以活得痛快的我！」當你來到「馥蘭朵烏來」，別忘了聆聽那伴著你發呆、品美食，陪著你泡溫泉、享悠閒的恬適旋律！用音符、樂器的堆疊抽離，質樸優雅地渲染每個角落。冀望讓服務的質感，昇華為感官心靈的寄託！
                        </span>
                        
                  </div>
          </div>
        </div>
	</div>
#{/elseif}

#{elseif category == 'life'}
	<script type="text/javascript">
	
	function SetInnerHtml(bt){
	
		switch(bt){
				case 0900:
					$("#gallery-main").html($("#activity_0900").html()); 
					break;
				case 0950:
					$("#gallery-main").html($("#activity_0950").html()); 
					break;
				case 1530:
					$("#gallery-main").html($("#activity_0900").html());  
					break;
				case 1600:
					$("#gallery-main").html($("#activity_1600").html()); 
					break;
				case 1630:
					$("#gallery-main").html($("#activity_0950").html()); 
					break;
				case 1830:
					$("#gallery-main").html($("#activity_1830").html()); 
					break;
				case 1820:
					$("#gallery-main").html($("#activity_1820").html()); 
					break;
				default://case 1
					$("#gallery-main").html($("#activity_0900").html()); 
			   		break;
		}
	}
	</script>	

	<div id="activity_0900" style="display: none;">
		<img src="/public/images/about/life/life_0900.jpg" /><br />
		<span class="font-Default-Big" style="line-height: 40px;">棋不語&nbsp;</span><br />
		<span class="gallery-text">
			
			以綠帶環山為背景，藍纓碧湖為舞台，ㄧ艘漂蕩對坐兩人的木筏，<br />
			從心靈的深處泛起單純的聲音，下著ㄧ個沒有棋子的棋局，<br />
			聲聲對話，引領著您進入當下的寧靜中……<br />
		</span>
	</div>

	<div id="activity_0950" style="display: none;">
		<img src="/public/images/about/life/life_0950.jpg" /><br />
		<span class="font-Default-Big" style="line-height: 40px;">塵離囂&nbsp;</span><br />
		<span class="gallery-text">
			
			原木雕刻的藝術框架，懸著狀似日月的大小銅鑼。<br>
			陣陣敲響的銅鑼，不僅喚醒大地的靈氣，<br>
			隨著鑼聲抖落腦事塵埃，享受難得的清靜……<br />
		</span>
	</div>

	<div id="activity_1600" style="display: none;">
		<img src="/public/images/about/life/life_1600.jpg" /><br />
		<span class="font-Default-Big" style="line-height: 40px;">空鼓繞&nbsp;</span><br />
		<span class="gallery-text">
			
				當對岸傳來回盪在山川的鑼聲，對應著此岸擊起松林間祭儀的鼓聲，<br />
				ㄧ場身心靈洗滌的儀式，兩岸空靈交會的澎湃，如同迴盪在山谷裡的傳奇，<br />
				此時意念頓然澄澈、感官因此開啟……<br />
		</span>
	</div>

	<div id="activity_1820" style="display: none;">
		<img src="/public/images/about/life/life_1820.jpg" /><br />
		<span class="font-Default-Big" style="line-height: 40px;">夜行空&nbsp;</span><br />
		<span class="gallery-text">
			
			原木的裝置藝術，如同航行在黑夜的大船，<br />
			舞動如同浪波的肢體，敲擊懸掛在浪起的定音鑼，<br />
			黑夜裡閃耀的星空，等待那晚歸的夜人……<br />
		</span>
	</div>

	<div id="activity_1830" style="display: none;">
		<img src="/public/images/about/life/life_1830.jpg" /><br />
		<span class="font-Default-Big" style="line-height: 40px;">即靜音&nbsp;</span><br />
		<span class="gallery-text">
			
				燭光點點的穿水廊道，當下的寧靜如同水晶缽音縈耳環繞，<br />
				在經過的即刻，同時「沉澱」你我心靈的雜念，感受瞬間的美好……<br />
		</span>
	</div>

	<div id="contents" >
		<div class="block">
                  <div id="gallery-option">
                          <div class="life_font"><a href="javascript:SetInnerHtml(0900)" >${life.lifetime1}</a><br />
                            <a href="javascript:SetInnerHtml(0950)" >${life.lifetime2}</a><br />
                            <a href="javascript:SetInnerHtml(1530)" >${life.lifetime3}</a><br />
                            <a href="javascript:SetInnerHtml(1600)" >${life.lifetime4}</a><br />
                            <a href="javascript:SetInnerHtml(1830)" >${life.lifetime5}</a><br />
                            <a href="javascript:SetInnerHtml(1830)" >${life.lifetime6}</a><br />
                            <a href="javascript:SetInnerHtml(1830)" >${life.lifetime7}</a><br />
              </div>
                  </div>
                  <div id="gallery-main">
                  			<img src="/public/images/about/life/life_0900.jpg" /><br />
							<span class="font-Default-Big" style="line-height: 40px;">棋不語&nbsp;</span><br />
               				<span class="gallery-text">
                                    
                                    以綠帶環山為背景，藍纓碧湖為舞台，ㄧ艘漂蕩對坐兩人的木筏，<br />
                                    從心靈的深處泛起單純的聲音，下著ㄧ個沒有棋子的棋局，
                                    聲聲對話，引領著您進入當下的寧靜中……<br />
                            </span>
                  </div>
		</div>
		<div class="main-footer-block"></div>
	</div>
#{/elseif}

#{elseif category == 'gallery_show'}
	
	<div id="contents" >
		<div class="block">
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
			      <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
				<tr>
				  <td align="left" valign="top"><img src="/public/images/about/gallery/main.jpg" alt="" width="470" height="477" /></td>
				</tr>
			      </table></td>
			      <td width="490"><table width="100%" border="0" cellspacing="0" cellpadding="5">
				<tr>
				  <td><img src="/public/images/about/gallery/01_s.jpg"/></td>
				  <td><img src="/public/images/about/gallery/02_s.jpg"/></td>
				  <td><img src="/public/images/about/gallery/03_s.jpg"/></td>
				</tr>
				<tr>
				  <td><img src="/public/images/about/gallery/04_s.jpg"/></td>
				  <td><img src="/public/images/about/gallery/05_s.jpg"/></td>
				  <td><img src="/public/images/about/gallery/06_s.jpg"/></td>
				</tr>
				<tr>
				  <td><img src="/public/images/about/gallery/07_s.jpg"/></td>
				  <td><img src="/public/images/about/gallery/08_s.jpg"/></td>
				  <td>&nbsp;</td>
				</tr>
			      </table></td>
			    </tr>
			  </table>
				
			</div>
	</div>
#{/elseif}

#{elseif category == 'gallery_artist'}
	
	<div id="contents" >
		<div class="block">
				<table width="100%" border="0" cellspacing="0" cellpadding="5">
		          <tr>
		            <td>
		                    <div class="about-gallery-artist-block" >
		                            <img src="/public/images/about/gallery/artist_02.jpg"/>
		                            <span style="left:-6px; top:20px; position:relative;">
		                            		<img src="/public/images/about/gallery/artist_02_name.gif" />
		                            </span>
		                            <div class="about-gallery-artist-text-block">
		                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客居馥蘭朵烏來，入門映眼簾的，即為吳宗霖的「謙夏荷銅」。荷葉，那亭亭玉立的蓬勃朝氣，那迎風搖曳的綽約丰姿，一股說不出的高雅；吸引著、燃起了創作的心，於是：株株荷葉遍地開、朵朵荷花含苞放；端看荷葉的形狀不一，道盡人生變化，不全然呈現的二十二條葉脈，預留無限可能。這樣的創作，呼應著馥蘭朵，出塵離染，淨玉無瑕無窮碧，映日荷花別樣紅！如此的創作，表達彼岸的你我：為生活藝術的努力，寫下不變的約定！隱居烏來山林的銅雕藝術家，正一搥一搥地敲打自己的夢，在創作中找尋合諧節奏，從震波中呼應自然脈動。那緩慢悠揚的渾厚聲響，將繼續撼動沉睡的心靈，回歸那ㄧ池原始的平靜……
		                            </div>
		                    </div>
		        	</td>
		          </tr>
		        </table>
		</div>
          </div>
        
#{/elseif}

