#{extends 'main.html' /}
#{set title:'馥蘭朵烏來渡假酒店 Volando Urai Spring SPA Resort - 餐飲' /}

<div id="contents">
	<div class="block">
            <div class="block2">

			
            		<div style="width:100%; text-align:left; margin-bottom:80px; margin-left: 90px;">
                    	伴著湖邊景色的環境用餐 朝食配著落在杯盤的晨曦<br />
						晚膳品嘗湖水邊悠悠的燭光<br />
                        咀嚼四季蔬果在土壤裡充分吸收陽光的味道<br />
                        聞著剛出爐麵包的淡淡清香<br />
						沒有多餘的調味料 讓您品嘗烏來最佳的滋味
                    </div>

					<div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td height="28" align="left" valign="middle"><span class="title_v_line"></span> 
					<a href="/Pages/catering/cateringAbu"><span class="font-Title">Volando ABU</span></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Pages/catering/cateringAbu"><img src="/public/images/catering/p-1.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
                    
                    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td height="28" align="left" valign="middle">
					<span class="title_v_line"></span> <a href="/Pages/catering/cateringSiliq"><span class="font-Title">思鸝 Siliq</span></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td>
                                    <a href="/Pages/catering/cateringSiliq"><img src="/public/images/catering/p-2.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
                    </div>

		    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>&nbsp;
                                    
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td>&nbsp;
                                  </td>
                                </tr>
                            </table>
                    </div>

                    <div class="items">
                      <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                              <tr>
				 <td height="28" align="left" valign="middle"><span class="title_v_line"></span> <a href="/Project/list/hotspring"><span class="font-Title">湯宴專案</span></a></td>
                        	                                
					
                              </tr>
                              
                      </table>
                    </div>
	  </div><!--eof block2-->
	</div>
    <div class="main-footer-block"></div>
</div>

