#{extends 'main.html' /}
#{set title:'馥蘭朵烏來渡假酒店 Volando Urai Spring SPA Resort - 客房泡湯' /}

#{if category == '1'}

	<div class="block">
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top">
              <table width="1000" border="0" align="center" cellpadding="5" cellspacing="0">
                <tr>
                  <td width="800" align="left" valign="top"><img src="/public/images/spring/photoslider_1.jpg" width="800" height="643" /></td>
                  <td width="200" valign="middle"><img src="/public/images/spring/title_01.gif" alt="" /><br />
                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td><span class="font-GRAY-Tiny">裸湯 讓人和自然環境更親近<br />
                          倘佯在視野極佳的溫泉水池<br />
                          讓您的身體<br />
                        和山川一同呼吸 回歸自然<br />
                          室內池還設有<br />
                        按摩水療、蒸氣室及烤箱<br />
                          馨香的檜木分子 讓心情寧靜祥和<br />
                        除去身體所有的疲憊</span></td>
                      </tr>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td height="120">&nbsp;</td>
                      </tr>
                    </table>                    <br />                    </td>
                </tr>
                <tr>
                  <td colspan="2" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="20" align="right" valign="middle">&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="left" valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="15%" valign="top"><span class="font-Default-Big">大浴場</span></td>
                          <td width="35%" valign="top"><span class="font-Default-Tiny">冬季平日 NT$ 850/人 (夏季平日NT$750/人)<br />
                          冬季假日 NT$1,000/人 (夏季假日NT$800/人)</span></td>
                          <td width="50%" valign="top"><span class="font-GRAY-Tiny">1. 冬季(十~三月)夏季(四~九月)<br />
                            2. 大浴場為男/女裸湯，恕不接待12歲以下孩童。<br />
                            3. 每次入場時限為四小時。<br />
                            4. 可使用設施包含：<br />
                          &nbsp;&nbsp;&nbsp;                            露天溫泉、室內冷／熱水池、SPA水療池、烤箱、蒸氣室、寄物櫃、休息區、梳妝區</span></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td colspan="2" align="right" valign="middle"><img src="/public/images/line-v.png" alt="" width="12" height="23" /> <a href="/Pages/spring"> <img src="/public/images/spring/t-otherspring.gif" alt="" width="71" height="28"/> </a> <img src="/public/images/line-v.png" alt="" width="12" height="23" /> <a href="#"> <img src="/public/images/spring/price2.gif" alt="" width="70" height="28"/> </a></td>
                </tr>
              </table>
              </td>
          </tr>
        </table>
	</div>
#{/if}

#{elseif category == '2'}
	
	<div id="contents">
		<div class="block">
		<table width="100%"  border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td align="left" valign="top">
		      <table width="1000" border="0" align="center" cellpadding="5" cellspacing="0">
		        <tr>
		          <td width="800" align="left" valign="top"><img src="/public/images/spring/photoslider_2.jpg" width="800" height="643" /></td>
		          <td width="200" valign="middle"><img src="/public/images/spring/title_02.gif" alt="" /><br />
		            <table width="100%" border="0" cellspacing="0" cellpadding="3">
		              <tr>
		                <td><span class="font-GRAY-Tiny">延伸了空間    放大了享受<br />
		                  獨擁落地窗外翠綠山林  <br />
		                沉醉泉溪ㄧ色波光瀲灩<br />
		                  以美人湯撫慰疲累身心  <br />
		                佐香氛洗滌ㄧ身香氣<br />
		                讓放鬆休憩的恣意從容    <br />
		                喚回身心靈舒暢無比！</span></td>
		              </tr>
		            </table>
		            <table width="100%" border="0" cellspacing="0" cellpadding="3">
		              <tr>
		                <td height="120">&nbsp;</td>
		              </tr>
		            </table>                    <br />                    </td>
		        </tr>
		        <tr>
		          <td colspan="2" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
		            <tr>
		              <td height="20" align="right" valign="middle">&nbsp;</td>
		            </tr>
		            <tr>
		              <td align="left" valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
		                <tr>
		                  <td width="15%" valign="top"><span class="font-Default-Big">客房泡湯</span></td>
		                  <td width="35%" valign="top"><span class="font-Default-Tiny">1.5hr 豪華客房 (平日)NT$2,520 (假日)NT$2,800<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;山水客房  (平日)NT$3,150 (假日)NT$3,500<br />
	2.5hr 豪華客房 (平日)NT$3,420 (假日)NT$3,800<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;山水客房 (平日)NT$4,500 (假日)NT$5,000</span></td>
		                  <td width="50%" valign="top"><span class="font-GRAY-Tiny">1. 客房泡湯時間分為1.5小時、2.5小時兩種選擇。<br />
		                    2. 續時加價 : 豪華客房1hr NT$1,500；山水客房NT$2,000<br />
		                    3. 每日限量6間,敬請提前預約。<br />
		                    4. 客房泡湯恕不接待十二歲以下兒童。<br />
		                  5. 平、假日依飯店定義為準，未詳載之細項需依飯店現場公告為主。</span></td>
		                </tr>
		              </table></td>
		            </tr>
		          </table></td>
		        </tr>
		        <tr>
		          <td colspan="2" align="right" valign="middle"><img src="/public/images/line-v.png" alt="" width="12" height="23" /> <a href="/Pages/spring"> <img src="/public/images/spring/t-otherspring.gif" alt="" width="71" height="28"/> </a> <img src="/public/images/line-v.png" alt="" width="12" height="23" /> <a href="#"> <img src="/public/images/spring/price2.gif" alt="" width="70" height="28"/> </a></td>
		        </tr>
		      </table>
		      </td>
		  </tr>
		</table>
		</div>
	</div>
#{/elseif}


#{elseif category == '3'}
	
	<div id="contents">
		<div class="block">
		<table width="100%"  border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td align="left" valign="top">
		      <table width="1000" border="0" align="center" cellpadding="5" cellspacing="0">
		        <tr>
		          <td width="800" align="left" valign="top"><img src="/public/images/spring/photoslider_3.jpg" width="800" height="547" /></td>
		          <td width="200" valign="middle"><img src="/public/images/spring/title_03.gif" alt="" /><br />
		            <table width="100%" border="0" cellspacing="0" cellpadding="3">
		              <tr>
		                <td><span class="font-GRAY-Tiny">擁有寧靜私密空間的湯屋套房,<br />
		                房內增設了淋浴區、
		                獨立洗手間、舒適雙人床以及梳妝台,<br />
		                以自然石材切砌的浴室,<br />
		                也特別設置冷、熱兩種水池,<br />
		                讓您沐浴在<br />
		                富涵碳酸氫鈉的美人湯之際,<br />
		                還能感受SPA水療的身心舒暢,<br />
		                面對大片景觀窗,<br />
		                室外山水盡收眼底</span></td>
		              </tr>
		            </table>
		            <table width="100%" border="0" cellspacing="0" cellpadding="3">
		              <tr>
		                <td height="120">&nbsp;</td>
		              </tr>
		            </table>                    <br />                    </td>
		        </tr>
		        <tr>
		          <td colspan="2" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
		            <tr>
		              <td height="20" align="right" valign="middle">&nbsp;</td>
		            </tr>
		            <tr>
		              <td align="left" valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
		                <tr>
		                  <td width="15%" valign="top"><span class="font-Default-Big">湯屋套房</span></td>
		                  <td width="35%" valign="top"><span class="font-Default-Tiny">冬季假日NT$2000/間 (夏季假日NT$1600/間)<br />
		                  冬季平日 NT$1800/間 (夏季平日NT$1400/間)</span></td>
		                  <td width="50%" valign="top"><span class="font-GRAY-Tiny">1. 平日(周一~周五)；假日(周六~周日)<br />
		                    2. 夏季(四~九月)；冬季(十月~三月)<br />
		                    3. 可供2人使用1小時，第二小時起每小時加收NT$1500<br />
		                    4. 第3位使用者，每小時加收NT$1000；第二小時起每小時加收NT$750<br />
		                  5. 130CM以下孩童免費</span></td>
		                </tr>
		              </table></td>
		            </tr>
		          </table></td>
		        </tr>
		        <tr>
		          <td colspan="2" align="right" valign="middle"><img src="/public/images/line-v.png" alt="" width="12" height="23" /> <a href="/Pages/spring"> <img src="/public/images/spring/t-otherspring.gif" alt="" width="71" height="28"/> </a> <img src="/public/images/line-v.png" alt="" width="12" height="23" /> <a href="#"> <img src="/public/images/spring/price2.gif" alt="" width="70" height="28"/> </a></td>
		        </tr>
		      </table>
		      </td>
		  </tr>
		</table>
		</div>
	</div>

#{/elseif}


#{elseif category == '4'}
	
	
	<div id="contents">
		<div class="block">
		<table width="100%"  border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td align="left" valign="top">
		      <table width="1000" border="0" align="center" cellpadding="5" cellspacing="0">
		        <tr>
		          <td width="800" align="left" valign="top"><img src="/public/images/spring/photoslider_4.jpg" width="800" height="547" /></td>
		          <td width="200" valign="middle"><img src="/public/images/spring/title_04.gif" alt="" /><br />
		            <table width="100%" border="0" cellspacing="0" cellpadding="3">
		              <tr>
		                <td><span class="font-GRAY-Tiny">獨立的個人湯屋 <br />
		                讓您及一起泡湯的親友<br />
		                  可享有寧靜的私密空間 <br />
		                自然石材切砌的浴室<br />
		                  大片的景觀窗盡收室外的山水<br />
		                讓您猶如置身在自然之中</span></td>
		              </tr>
		            </table>
		            <table width="100%" border="0" cellspacing="0" cellpadding="3">
		              <tr>
		                <td height="120">&nbsp;</td>
		              </tr>
		            </table>                    <br />                    </td>
		        </tr>
		        <tr>
		          <td colspan="2" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
		            <tr>
		              <td height="20" align="right" valign="middle">&nbsp;</td>
		            </tr>
		            <tr>
		              <td align="left" valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
		                <tr>
		                  <td width="15%" valign="top"><span class="font-Default-Big">景觀湯屋</span></td>
		                  <td width="35%" valign="top"><span class="font-Default-Tiny">冬季平日NT$1260/間(夏季平日NT$840/間/1hr)<br />
		                  冬季假日NT$1,400/間(夏季假日NT$960/間/1hr)</span></td>
		                  <td width="50%" valign="top"><span class="font-GRAY-Tiny">1. 平日(周一~周五)；假日(周六~周日)<br />
		                    2. 夏季(四~九月)；冬季(十月~三月)<br />
		                    3. 可供2人使用1小時，第二小時起每小時加收NT$800<br />
		                    4. 第3位使用者，每小時加收NT$600；第二小時起每小時加收NT$400<br />
		                  5. 130cm以下孩童免費，超過130cm每位兒童加收NT$300</span></td>
		                </tr>
		              </table></td>
		            </tr>
		          </table></td>
		        </tr>
		        <tr>
		          <td colspan="2" align="right" valign="middle"><img src="/public/images/line-v.png" alt="" width="12" height="23" /> <a href="/Pages/spring"> <img src="/public/images/spring/t-otherspring.gif" alt="" width="71" height="28"/> </a> <img src="/public/images/line-v.png" alt="" width="12" height="23" /> <a href="#"> <img src="/public/images/spring/price2.gif" alt="" width="70" height="28"/> </a></td>
		        </tr>
		      </table>
		      </td>
		  </tr>
		</table>
		</div>
	</div>

#{/elseif}
