
#{extends 'main.html' /}
#{set title:'馥蘭朵烏來渡假酒店 Volando Urai Spring SPA Resort - About Volando' /}
<style>
#about-logo-1{
		/*background-image:url(../images/about/logo.png);*/
		top:-25px;
		left:235px;
		width:119px; 
		height:66px;
		z-index:1;
		overflow: hidden;
		position: absolute;
}
</style>
<div id="contents">
	
	<div class="block"></div>
  <div class="block">
    <div id="about_header">
		<div id="about-logo-1"><img src="/public/images/about/logo.png" /></div>				
        <div id="about-logo-2"><img src="/public/images/about/logo2.jpg" /></div>                
    </div>
                
<table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                          <td width="50%">
                                  <span class="leftfloat">
                                  <span class="title_v_line"></span>
In Volando Urai Spring Spa &amp; Resort<!--<img src="/public/images/about/logo.png" />--></span>
                       	</td>
                          <td width="50%">
                           		  <span class="leftfloat">
                                   		  <span class="title_v_line"></span>
                           		  Relais    &amp; Châteaux<!--<img src="/public/images/about/logo2.jpg" />--></span>
                          </td>
       		       </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="10">
            <tr>
              <td width="50%" align="left" valign="top">
               
               
                <p>In Volando Urai Spring Spa &amp; Resort<br />
                There is no measure of time <br />
                People gaze at the river, counting the ripples on the tranquil water surface <br />
                As the light in the forest awakes, one realizes that dusk is falling <br />
                Through the swaying of the forest, one begins to breath in concert with the mountain and river <br />
Human language is intrusive here
<br />People who live here have no unnecessary words and greetings
               

<br />
                 Only smiles sufficient to express friendliness and thoughtfully bring you a cup of warm tea <br />
                Visitors breath according to the rhythm of nature for self-realization <br />
                Returning to a place where one may commune with nature</p></td>
              <td width="50%" align="left" valign="top">
               
               
                <p>Founded in France in 1954, <strong>RELAIS & CHATEAUX</strong> is a globally recognized prestige<br />boutique hotels brands. Up to now, the group has selected 500 exceptionally creative<br />
                prestige hotels and gourmet restaurants from 60 countries worldwide. Its members own<br /> 
together own over 300 Michelin stars, using Caractère, Courtoisie, Calme, Charme,<br /> 
and Cuisine as the evaluation standards of the organization. The group invites you <br />
to enjoy the essence of luxurious lifestyle. The secret to the success of <br />
RELAIS & CHATEUX is to provide the exceptional experience in an exclusive location.
</p>
                <p><strong>Volando Urai Spring Spa & Resort was awarded by RELAIS & CHATEAUX in 2013 
as a Taiwan boutique hotel member.
                </strong></p>
              </td>
            </tr>
    </table>
  </div>
            
  		<div class="block">
                <span class="title_v_line"></span><span class="font-Title">陣容介紹</span>
                <br />
                「藝術」源自「能量」，是淨化過程後的產物， 在「覺知的能量中」創造無限的可能<br />
                <br />
            
                <table width="100%" border="0" cellpadding="0" cellspacing="10">
                        <tr>
                          <td width="25%" align="left" valign="top"><a href="/Pages/about/artist1"><img src="/public/images/about/people-1.jpg" alt="" width="230" height="250" /></a><br />
                          羅桑席讓 </td>
                          <td width="25%" align="left" valign="top"><a href="/Pages/about/artist2"><img src="/public/images/about/people-2 (1).jpg" alt="" width="230" height="250" /></a><br />
                            吳宗霖 </td>
                          <td width="25%" align="left" valign="top"><a href="/Pages/about/artist3"><img src="/public/images/about/people-3 (1).jpg" alt="" width="230" height="250" /></a><br />
                            王錫坤 </td>
                          <td width="25%" align="left" valign="top"><a href="/Pages/about/artist4"><img src="/public/images/about/people-4 (1).jpg" alt="" width="230" height="250" /></a><br />
                            芮斯 </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><a href="/Pages/about/artist5"><img src="/public/images/about/people-5.jpg" alt="" width="230" height="250" /></a><br />
                            胡健 </td>
                          <td align="left" valign="top"><a href="/Pages/about/artist6"><img src="/public/images/about/people-6.jpg" alt="" width="230" height="250" /></a><br />
                            布秋榮 </td>
                          <td align="left" valign="top"><a href="/Pages/about/artist7"><img src="/public/images/about/people-7.jpg" alt="" width="230" height="250" /></a><br />
                            王希文 </td>
                          <td align="left" valign="top"><img src="/public/images/about/people-blank.jpg" alt="" width="230" height="250" /><br /></td>
                        </tr>
                </table>
</div>
        
  		<div class="block">
  		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                    <td width="35%"><span class="title_v_line"></span><span class="font-Title">生活儀式</span></td>
                    <td><span class="title_v_line"></span><span class="font-Title">馥藝廊</span></td>
            </tr>
          </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="10">
                        <tr>
                                <td align="left" valign="top">馥蘭朵的「生活儀式」，<br />
                                  就是時間到了，我們就做ㄧ件單純的事<br />
                                  將生命的感觸與藝術結合，是裝置藝術也是展演，<br />
                    你我來自一方，用互動式的對話，拉近心的距離</td>
                                <td colspan="2" align="left" valign="top">ㄧ個藝術家作品與您心靈交流的空間，<br />
                                  這是個生命經驗的分享，<br />
                                  在此您可以選購藝術家的作品作為珍藏，<br />
                                或是用您的心靈閱讀藝術家的創作過程…</td>
                  </tr>
                        <tr>
                          <td width="35%" valign="top">
                                  <table width="230" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td><a href="/Pages/about/life"><img src="/public/images/about/s-1 (1).jpg" alt="" width="230" height="250" /></a><br />
        								藝術導入生活的儀式中
                                      </td>
                                    </tr>
                                  </table>
                          </td>
                          <td width="29%" valign="top" style="text-align:left;">
                                  <table width="230" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td><a href="/Pages/about/gallery_artist"><img src="/public/images/about/s-2 (1).jpg" alt="" width="230" height="250" /></a><br />
        								藝術家簡介
                                      </td>
                                    </tr>
                                  </table>
                          </td>
                          <td width="33%" valign="top" style="text-align:right;">
                                  <table width="230" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td><a href="/Application/listArts"><img src="/public/images/about/s-3.jpg" alt="" width="230" height="250" /></a><br />
                                        藝品介紹</td>
                                    </tr>
                                  </table>
                          </td>
                        </tr>
          </table>
  </div>


	
       
        
</div>

