#{extends 'main.html' /}
#{set title:'Volando Urai Spring Spa &amp; Resort Volando Urai Spring SPA Resort - <strong>Cuisine</strong>' /}
<div id="contents">
	<div class="block">
            <div class="block2">

			
            		<div style="width:100%; text-align:left; margin-bottom:80px; margin-left: 90px;">
                    	Dining in a picturesque riverside environment<br />
						Breakfast is accompanied by the light of the morning sun<br />
                        While the candlelight dinner is savored near the riverside<br />
                        Savoring the aroma of the sun absorbed<br />
                        by the seasonal vegetables and fruits in the soil.<br />
                        The mild fragrance of the bread fresh from the oven<br />
						Without the unnecessary seasoning 
You will be able to taste the perfect flavor of the Wulai

                    </div>

					<div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td height="28" align="left" valign="middle"><span class="title_v_line"></span> 
					<a href="/Pages/catering/cateringAbu"><span class="font-Title">Volando ABU</span></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Pages/catering/cateringAbu"><img src="/public/images/catering/p-1.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
                    
                    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td height="28" align="left" valign="middle">
					<span class="title_v_line"></span> <a href="/Pages/catering/cateringSiliq"><span class="font-Title">Siliq</span></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td>
                                    <a href="/Pages/catering/cateringSiliq"><img src="/public/images/catering/p-2.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
                    </div>

		    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>&nbsp;
                                    
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td>&nbsp;
                                  </td>
                                </tr>
                            </table>
                    </div>

                    <div class="items">
                      <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                              <tr>
				 <td height="28" align="left" valign="middle"><span class="title_v_line"></span> <a href="/Project/list/hotspring"><span class="font-Title">Hot Spring Banquet</span></a></td>
                        	                                
					
                              </tr>
                              
                      </table>
                    </div>
	  </div><!--eof block2-->
	</div>
    <div class="main-footer-block"></div>
</div>

