
#{extends 'main.html' /}
#{set title:' Volando Urai Spring SPA Resort - Conference' /}


<div id="contents">
	<div class="block">
            <div class="block2">
		<div style="width:100%; text-align:left; margin-bottom:80px; margin-left: 90px;">
                    		  Breathe the oxygen of mountain forests<br />
                              to drive the energy of creativity and intelligence.<br />
                              Open that organic thinking in the fields of nature,<br />
                              using Volando Breathing Style to empty oneself<br />
                              with emergence of creativity.
                    </div>

					<div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <a href="/Meeting/list/meetingIntro"><img src="/public/images/line-v.png" alt="" width="12" height="23" /><img src="/public/images/meeting/t-1.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Meeting/list/meetingIntro"><img src="/public/images/meeting/p-1.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
                    
                    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <a href="/Meeting/list/meetingProject"><img src="/public/images/line-v.png" alt="" width="12" height="23" /><img src="/public/images/meeting/t-2.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Meeting/list/meetingProject"><img src="/public/images/meeting/p-2.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
                    
                    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <a href="/Meeting/list/meetingAddOn"><img src="/public/images/line-v.png" alt="" width="12" height="23" /><img src="/public/images/meeting/t-3.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Meeting/list/meetingAddOn"><img src="/public/images/meeting/p-3.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
    		</div><!--eof block2-->
	</div>
    <div class="main-footer-block"></div>
</div>

