#{extends 'main.html' /}
#{set title:'馥蘭朵烏來渡假酒店 Volando Urai Spring SPA Resort - SPA' /}

<div id="contents">
  <div class="block">
  					<div style="width:100%; text-align:left; margin-bottom:80px; margin-left: 0px;">
                    		一個為您量身訂做的療癒系SPA<br />
                            開啟這趟身心探索之旅！<br />
                            逐漸的　您會發現原來可以在身體一張一弛中<br />
                            得到那份靜心與放鬆～
                    </div>
  
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
	    <tr>
	      <td width="33%"><table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
	        <tr>
	          <td><span class="title_v_line"></span><a href="/Pages/spa/dasha"><span class="font-Title">Dasha SPA</span></a></td>
            </tr>
	        <tr>
	          <td height="12"></td>
            </tr>
	        <tr>
	          <td>
              		<a href="/Pages/spa/dasha"><div id="spa-dasha">
              				<div id="spa-dasha-pic"></div>
              		</div></a>
              </td>
            </tr>
          </table></td>
	      <td width="33%">&nbsp;</td>
	      <td width="33%">&nbsp;</td>
        </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
        </tr>
      </table>
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	    <tr>
	      <td width="30%">&nbsp;</td>
	      <td width="33%">&nbsp;</td>
	      <td width="33%">&nbsp;</td>
        </tr>
	    <tr>
	      <td><table width="300" border="0" align="left" cellpadding="0" cellspacing="0">
	        <tr>
	          <td><span class="title_v_line"></span><a href="/Pages/spa/spaCourse"><span class="font-Title">溫泉芳香課程</span></a></td>
            </tr>
	        <tr>
	          <td valign="top"><a href="/Pages/spa/spaCourse"><img src="/public/images/spa/class/icon_01.jpg"style="margin-top:20px;" /></a></td>
            </tr>
          </table></td>
	      <td><table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
	        <tr>
	          <td><span class="title_v_line"></span><a href="/Pages/spa/spaAddOn"><span class="font-Title">加值課程</span></a></td>
            </tr>
	        <tr>
	          <td valign="top"><a href="/Pages/spa/spaAddOn"><img src="/public/images/spa/class/icon_02.jpg"style="margin-top:20px;" /></a></td>
            </tr>
	        </table></td>
	     <!-- <td><table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
	        <tr>
	          <td><span class="title_v_line"></span><a href="/Pages/spa/spaPress"><span class="font-Title">紓壓療程</span></a></td>
            </tr>
	        <tr>
	          <td valign="top"><a href="/Pages/spa/spaPress"><img src="/public/images/spa/class/icon_03.jpg"style="margin-top:20px;" /></a></td>
            </tr>
	        </table></td> -->
	        <td><table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
	        <tr>
	          <td><span class="title_v_line"></span><a href="/Pages/spa/spaVip"><span class="font-Title">VIP會員招募</span></a></td>
            </tr>
	        <tr>
	          <td valign="top"><a href="/Pages/spa/spaVip"><img src="/public/images/spa/class/icon_04.png"style="margin-top:20px;" /></a></td>
            </tr>
	        </table></td>
        </tr>
    </table>
    </div>
</div>

<!--

<div id="contents">
  <div class="block">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
	    <tr>
	      <td width="33%"><table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
	        <tr>
	          <td><img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Pages/spa/dasha"><img src="/public/images/spa/about.gif" alt="" width="200" height="28" /></a></td>
            </tr>
	        <tr>
	          <td height="12"></td>
            </tr>
	        <tr>
	          <td>
              		<div id="spa-dasha">
              				<div id="spa-dasha-pic"></div>
              		</div>
              </td>
            </tr>
          </table></td>
	      <td width="33%">&nbsp;</td>
	      <td width="33%">&nbsp;</td>
        </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
        </tr>
      </table>
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	    <tr>
	      <td width="30%">&nbsp;</td>
	      <td width="33%">&nbsp;</td>
	      <td width="33%">&nbsp;</td>
        </tr>
	    <tr>
	      <td><table width="300" border="0" align="left" cellpadding="0" cellspacing="0">
	        <tr>
	          <td><img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Pages/spa/spaCourse"><img src="/public/images/spa/class.gif" alt="" width="200" height="28" /></a></td>
            </tr>
	        <tr>
	          <td height="12"></td>
            </tr>
	        <tr>
	          <td><img src="/public/images/spa/class-pic.jpg" alt="" width="300" height="200" /></td>
            </tr>
          </table></td>
	      <td><table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
	        <tr>
	          <td><img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Pages/spa/spaAddOn"><img src="/public/images/spa/plusclass.gif" alt="" width="200" height="28" /></a></td>
            </tr>
	        <tr>
	          <td height="12"></td>
            </tr>
	        <tr>
	          <td><img src="/public/images/spa/plusclass-pic.jpg" alt="" width="300" height="200" /></td>
            </tr>
	        </table></td>
	      <td><table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
	        <tr>
	          <td><img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Pages/spa/spaPress"><img src="/public/images/spa/relex.gif" alt="" width="200" height="28" /></a></td>
            </tr>
	        <tr>
	          <td height="12"></td>
            </tr>
	        <tr>
	          <td><img src="/public/images/spa/relex-pic.jpg" alt="" width="300" height="200" /></td>
            </tr>
	        </table></td>
        </tr>
    </table>
    </div>
</div>
-->
