#{extends 'main.html' /}
#{set title:'馥蘭朵烏來渡假酒店 Volando Urai Spring SPA Resort - 客房泡湯' /}


#{if category == 'dasha'}
	
	
	
<div id="contents" style="background: #000 url(/public/images/spa/aboutdasha.jpg) center center fixed no-repeat; -moz-background-size: cover; background-size: cover;">
         <div class="block" style="height:800px">
		<div id="spa-dasha-text">
			#{if page?.content}
			     	<div>${page?.content.raw()}</div>
			#{/if}
			#{else}
				目前建構中。
			#{/else}
                </div>
                <div id="spa-dasha-logo"></div>
        </div>
</div>

#{/if}
#{else}

	<div class="block-borderless" style="height:220px; margin-bottom:10px; background-image:url(/public/images/spa/class/banner.jpg);"></div>
	    
		<div class="block">
		    <div class="block2">
						<div class="items" style="width:230px; height:400px;">
						  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
						    <tr>
						      		<td id="bt1" style="opacity: #{if category == 'spaCourse'}1#{/if}#{else}0.5#{/else}" align="left" valign="bottom">
		           		  				<img src="/public/images/line-v.png" width="12" height="23" /><a href="/Pages/spa/spaCourse"><img src="/public/images/spa/class/t1.gif"/></a>
		                        </td>
						</tr> <tr>
		                <td height="32" align="left" valign="bottom">&nbsp;</td>
		                </tr><tr>
						      		<td id="bt2" style="opacity: #{if category == 'spaAddOn'}1#{/if}#{else}0.5#{/else}" align="left" valign="bottom">
		                  				<img src="/public/images/line-v.png" width="12" height="23" /><a href="/Pages/spa/spaAddOn"><img src="/public/images/spa/class/t2.gif"/></a>
		                        </td>
						</tr>
                        
                        <!--
                        <tr>
		                <td height="32" align="left" valign="bottom">&nbsp;</td>
		                </tr><tr>
		                		<td id="bt3" style="opacity: #{if category == 'spaPress'}1#{/if}#{else}0.5#{/else}" align="left" valign="bottom">
		                  				<img src="/public/images/line-v.png" width="12" height="23" /><a href="/Pages/spa/spaPress"><img src="/public/images/spa/class/t3.gif"/></a>
		                        </td>
						</tr>
                        -->
                        </tr>
						<td height="32" align="left" valign="bottom">&nbsp;</td>
		                </tr>
                        
                        <tr>
		                		<td id="bt4" style="opacity: #{if category == 'spaVip'}1#{/if}#{else}0.5#{/else}" align="left" valign="bottom">
		                  				<img src="/public/images/line-v.png" width="12" height="23" /><a href="/Pages/spa/spaVip"><img src="/public/images/spa/class/t4.gif"/></a>
		                        </td>
						</tr>
					      </table>
		              
						</div>
		            
		            <div id="mainText" class="items" style="width:760px;"><!--發佈主文區-->

				#{if page?.content}
				     	<div>${page?.content.raw()}</div>
				#{/if}
				#{else}
					目前建構中。
				#{/else}

		
			    </div>
		            
		    </div><!--eof block2-->
		</div>
	    <div class="main-footer-block"></div>




#{/else}


