@charset "UTF-8";

.font-Default-Big			{font-size:12pt;}
.font-Default-Normal		{font-size:10pt; -webkit-text-size-adjust:none;}


.font-GRAY-Big				{font-size:14pt; color:#898989;}
.font-GRAY-Normal		{font-size:10pt;	color:#898989; -webkit-text-size-adjust:none;}

.font-DGRAY-Big			{font-size:12pt; color:#585858;}
.font-DGRAY-Normal		{font-size:10pt;	color:#585858; -webkit-text-size-adjust:none;}

.font-RED-Big			{font-size:12pt; color:red;}
.font-RED-Normal		{font-size:10pt;	color:red; -webkit-text-size-adjust:none;}

.font-DRED-Big				{font-size:12pt; color:#b60000;}
.font-DRED-Normal		{font-size:10pt;	color:#b60000; -webkit-text-size-adjust:none;}

.font-WHITE-Big				{font-size:12pt; color:#ffffff;}
.font-WHITE-Normal		{font-size:10pt;	color:#ffffff; -webkit-text-size-adjust:none;}

.opacity50 { opacity: .5; }
.opacity60 { opacity: .6; }
.opacity70 { opacity: .7; }

.leftfloat {	float:left;}
.rightfloat {	float:right;}

a { text-decoration: none } 
a {-webkit-text-size-adjust:none;  color: #000000;} 

.style1 a { text-decoration: none } 
.style1 a:link {color: #FFFFFF}
.style1 a:visited {color: #FFFFFF}
.style1 a:active {color: #FFFFFF}
.style1 a:hover {color: #FFFFFF}
.style1 { font-size: 10pt; -webkit-text-size-adjust:none;  color: #FFFFFF;} 

.style_RED a { text-decoration: none } 
.style_RED a:link {color: red}
.style_RED a:visited {color: red}
.style_RED a:active {color: red}
.style_RED a:hover {color: red}
.style_RED { font-size: 10pt; -webkit-text-size-adjust:none;  color: red;} 

.style3 a { text-decoration: none } 
.style3 a:link {color: #898989}
.style3 a:visited {color: #898989}
.style3 a:active {color: #393939}
.style3 a:hover {color: #393939}
.style3 { font-size: 8pt; -webkit-text-size-adjust:none;  color: #898989;} 

.style_title a { text-decoration: none } 
.style_title a:link {color: #3b0000}
.style_title a:visited {color: #3b0000}
.style_title a:active {color: #c6002f}
.style_title a:hover {color: #c6002f; text-decoration:underline;}
.style_title { font-size: 14pt; -webkit-text-size-adjust:none;  color: #C6002F;} 

.style_usefulinfo a:link {color: #b60000}
.style_usefulinfo a:visited {color: #b60000}
.style_usefulinfo a:active {color: #c6002f}
.style_usefulinfo a:hover {color: #c6002f; text-decoration:underline;}
.style_usefulinfo { font-size: 12pt; -webkit-text-size-adjust:none;  color: #b60000;} 

.style_output a { text-decoration: none } 
.style_output a:link {color: #000000}
.style_output a:visited {color: #000000}
.style_output a:active {color: #000000}
.style_output a:hover {color: #000000}
.style_output { 	font-size: 8pt;
						-webkit-text-size-adjust:none; 
						background-color:#DCDDDD;
						color: #000000;
						padding:3px;} 

.txt_justify {text-align:justify;}
.txt_center {text-align:center;}

.aaaaa { /* <div class="aaaaa"></div> */
	border-top:1px solid #C1C1C1;
	height: 1px;
	overflow:hidden;
}
.bbbbb { /* <div class="aaaaa"></div> */
	border-top:1px solid #000;
	height: 1px;
	overflow:hidden;
}

iframe{
	margin-top:10px;
	border:hidden;
	overflow-x: hidden;
	overflow-y: scroll;
}

body{
	font-size:10pt;
	line-height:20px;
	FONT-FAMILY: arial;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	-webkit-text-size-adjust:none;
}

#mobile{
	/*width:320px;*/
	background-color:#eee;
}

#header {
	width:	100%;
	height:	80px;
	position: relative;
	background:#FFF;
}
#header-logo {
	background-image:	url(../images/logo.png);
	width:		111px;
	height:		63px;
	position:	relative;
	top:			10px;
	left:			10px;
	z-index:	2;
	position: absolute;
}
#header-option {
	line-height:24px;
	width:		160px;
	position:	relative;
	right:			15px;
	z-index:	2;
	position: 	absolute;
	bottom:		3px;
	text-align:	left;
}
#header-home {
	background:#231815;
	color:		white;
	line-height:22px;
	width:		60px;
	height:		20px;
	position:	relative;
	right:			15px;
	z-index:	2;
	position: 	absolute;
	bottom:		13px;
	text-align:	center;
}
#header-Previous {
	background:#231815;
	color:		white;
	line-height:22px;
	width:		45px;
	height:		20px;
	position:	relative;
	right:			80px;
	z-index:	2;
	position: 	absolute;
	bottom:		13px;
	text-align:	center;
}
#show {
	width:		100%;
	height:		250px;
	overflow:	hidden;
	background:#000;
	text-align:center;
}

#content-gray {
	background:#DDDDDD;
	width:		auto;
	padding:	10px;
}
#content-white {
	background:white;
	width:		auto;
	padding:	10px;
}

#footer{
	background:#DDDDDD;
	width:		auto;
	padding:	0px 20px 5px 20px;
}

.red-line{
	width:100%;
	height:4px;
	background-color:#BB1A30;
}

.v-line{
	width:3px;
	height:30px;
	background-color:#231815;
}

.index-option-block{
	padding-left:		5px;
	padding-right:	5pt;
	background:	#FFF;
	width:			94%;
	text-align:		left;
	line-height:	20pt;
	color:			#5B0007;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:				left;
	-moz-box-shadow: 		1px 1px 4px #AAAAAA;
	-webkit-box-shadow: 	1px 1px 4px #AAAAAA;
}

.index-option-shift{
	left:				20px;
}

.v-block{
	height:4px;
	clear:both;
}

.option-block{
	background:	#FFF;
	width:			auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 		1px 1px 4px #AAAAAA;
	-webkit-box-shadow: 	1px 1px 4px #AAAAAA;
}

img.middle {vertical-align:middle};
font.middle {vertical-align:middle};

/*刷動*/
body {
	margin:0;
	padding:0;
	background:#ccc;
}
#wrap {
	position:relative;
	width:320px;
	height:250px;
	margin:0 auto;
	overflow:hidden;
}
#imagegallery {
	width:320px;
	height:250px;
	background:#fff;
	margin:0 auto;
	margin-top:0px;
	overflow:hidden;
	text-align:center;
}
#imagegallery a {
	text-decoration:none;
	color:#333333;
}
#nav {
	width:320px;
	height:50px;
	position:absolute;
	top:180px;
	z-index:100;
}
#nav a {
	display:block;
	line-height:60px;
	width:60px;
	background:rgba(0,0,0,0.4);
	text-align:center;
	text-decoration:none;
	font-size:21px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	border-radius: 17px;
}
#prev {
	float:left;
	margin-left:-15px;
}
#next {
	float:right;
	margin-right:-15px;
}














#menu-option {
		height:30px;
		width: 100%;
		bottom:0px;
		text-align:center;
		position:absolute;
}
.option-block {
	margin: 0px 10px 0px 10px;
}





.block-borderless {
	margin: 0px auto;
	text-align: left;
	width: 1000px;
}

.block {
	margin: 0px auto;
	padding: 30px 10px 30px 10px;
	text-align: left;
	width: 1000px;
}
.block2 {
	margin: 0px auto;
	padding: 10px;
	text-align: left;
	width: 100%;
	height:auto;
}
.items {
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 30px 0px;
	width: 490px;
	float:left;
}
.news-items {
	margin: 0px 10px 10px 0px;
	padding: 0px 10px 30px 0px;
	width: 100%;
	text-align:left;
}

.news-content-text-block{
	width:					100%;
	height:					250px;
	padding:				10px;
	overflow:				scroll;
	text-align:justify;
}

#gallery-option{
	margin-bottom:20px;
	width:230px;
	position:relative;
	top:0px;
	left:30px;
	float:left;
	line-height: 30px;
}
#gallery-main{
	margin-bottom:20px;
	width:700px;
	position:relative;
	top:0px;
	right:30px;
	float:right;
}
.gallery-text{
	line-height: 18px;
	font-size:11px;
}
/* 關於*/
#about_header {
		height:100%;
		width: 100%;
		z-index:0;
		position: relative;
} 
#about-logo-1{
		/*background-image:url(../images/about/logo.png);*/
		top:-25px;
		left:105px;
		width:119px; 
		height:66px;
		z-index:1;
		overflow: hidden;
		position: absolute;
}
#about-logo-2{
		/*background-image:url(../images/about/logo2.jpg);*/
		top:-20px;
		right:15px;
		width:57px; 
		height:55px;
		z-index:1;
		overflow: hidden;
		position: absolute;
}

/* 首頁版型 */
.index {
		margin: 0px auto;
		text-align:center;
		background-color: #FFFFFF;
		width:100%; 
		min-height:100%
		height:auto;
		top:0px;
		bottom:0px;
		z-index:0; 
		overflow: auto;
		position: absolute;
} 

#index_header {
		margin: 0px auto;
		height:120px;
		width: 100%;
		z-index:0;
		position: relative;
} 
#index_header_menu{
		text-align:left;
		left:30px;
		top:90px;
		z-index:1;
		overflow: hidden;
		position: absolute;
}
#index_header_logo{
		text-align:right;
		right:35px;
		top:10px;
		width:160px; 
		height:93px;
		z-index:2;
		overflow: hidden;
		position: absolute;
}

#index_content_main{
		margin: 0px auto;
		background-color:#000000;
		height:450px;
		width: 100%;
		z-index:1;
		position: relative;
}
#index_content_main_pic{
		top:0px;
		right:0px;
		width:600px; 
		height:450px;
		z-index:1;
		overflow: hidden;
		position: absolute;
}
#index_content_main_shadow{
		top:0px;
		right:0px;;
		width:600px; 
		height:450px;
		z-index:2;
		overflow: hidden;
		position: absolute;
}
#index_content_main_keyword{
		top:370px;
		left:00px;
		width:270px; 
		height:80px;
		z-index:5;
		overflow: hidden;
		position: absolute;
}

#index_footer {
		margin: 0px auto;
		height:150px;
		width: 100%;
		z-index:0;
		position: relative;
} 
#index_footer_info{
		text-align:left;
		left:30px;
		top:120px;
		z-index:1;
		overflow: hidden;
		position: absolute;
}

#index_footer {
		margin: 0px auto;
		height:150px;
		width: 100%;
		z-index:0;
		position: relative;
} 
#index_footer_music{
		text-align:right;
		/*background-color:#C33;*/
		right:25px;
		top:13px;
		z-index:3;
		position: absolute;
		overflow: hidden;
}
/* eof 首頁版型 */


/* News Gallery Format*/
.gallery{
	margin:	10px	 0 10px 0; 
	width:	740px;
	height:	470px;
	overflow:	hidden;
	position:	relative;
}
.gallery-photo-show{
	margin:	0; 
	width:	580px;
	height:	470px;
	left:		0px;
	top:		0px;
	position:	absolute;
	overflow:	hidden;
}
.gallery-photo-1{
	background-color:white;
	margin:	0; 
	width:	150px;
	height:	150px;
	right:		0px;
	top:		0px;
	position:	absolute;
	overflow:	hidden;
}
.gallery-photo-2{
	background-color:white;
	margin:	0; 
	width:	150px;
	height:	150px;
	right:		0px;
	top:		160px;
	position:	absolute;
	overflow:	hidden;
}
.gallery-photo-3{
	background-color:white;
	margin:	0; 
	width:	150px;
	height:	150px;
	right:		0px;
	bottom:		0px;
	position:	absolute;
	overflow:	hidden;
}
.rel-link-download{
	height:28px;
	overflow:hidden;
}
.block-circle {
    width: 16px;
    height: 16px;
    background: #9a9a9a;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
	color:white;
	text-align:center;
	line-height: 18px;
	font-size:10pt;
	float:left;
	margin:8px 2px 0 2px;
}
.block-circle a { text-decoration: none } 
.block-circle a:link {color: #eee;}
.block-circle a:visited {color: #eee;}
.block-circle a:active {color: #fff;}
.block-circle a:hover {color: #fff;}
.block-circle:hover {background-color:#636363;}

#artist-background{
	width:1000px;
	height:644px;
	position:relative;
	left:0px;
	top:-26px;
	overflow:hidden;
}
#artist-content{
	width:300px;
	bottom:40px;
	left:30px;
	position:absolute;
	line-height:19px;
}

#about-volando-text{
	width:500px;
	top:100px;
	left:140px;
	color:white;
	font-size:9pt;
	position:relative;
}

#about-rlsd-text{
	width:400px;
	top:50px;
	left:50px;
	color:white;
	font-size:9pt;
	position:relative;
}
#catering-abu-text{
	width:400px;
	top:50px;
	left:50px;
	color:white;
	font-size:9pt;
	position:relative;
}

.about-gallery-artist-block{
	width:				280px;
	height:				500px;
	border-style:		solid;
	border-width:	1px;
	border-color:		#CCC;
	padding:			10px;
}
.about-gallery-artist-text-block{
	width:					260px;
	height:					130px;
	position:				relative;
	top:						44px;
	padding:				10px;
	overflow:				scroll;
	font-size:				10px;
	line-height:			20px;
	text-align:				justify;
}

.room-leftfloat {
	float:left;
	font-size:8pt;
	margin-left:10px;
}
.room-rightfloat {	
	float:right;
	font-size:8pt;
	margin-right:10px;
}
.pb-7{
padding-bottom:7px;
}
.pt-7{
padding-top:7px;
}
.room-note {	
	float:left;
	margin-left:30px;
}
.room-note2 {	
	float:left;
	margin-left:15px;
}
#spa-dasha{
		width:300;
		height:200px;
		z-index:0;
		position:absloute;
}
#spa-dasha-pic{
	width:		535px;
	height:		200px;
	background-image:url(../images/spa/dashi-pic.jpg);
	/*background-color:red;*/
	position:relative;
	left:0px;
	top:0px;
	z-index:1;
}

#spa-dasha-text{
	width:400px;
	top:100px;
	left:580px;
	color:white;
	font-size:9pt;
	position:relative;
}
#spa-dasha-logo{
	background-image:url(../images/spa/aboutdashalogo.png);
	width:500px;
	height:180px;
	top:100px;
	left:450px;
	position:relative;
	opacity:.7;
}
.meeting-block{
	width:100%;
	color:white;
	font-size:12pt;
	line-height:24px;
	background-color:#9F9FA0;
	text-align:center;
	margin:10px 0px 10px 0px;
}