<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="${_response_encoding}">
  <!-- Title and other stuffs -->
  <title>#{get 'title' /}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

  <script src="/public/macui/js/jquery-1.9.1.js"></script> <!-- jQuery -->
  <script src="/public/macui/js/jquery-ui-1.10.3.custom.min.js"></script> <!-- jQuery  --> 
  <link rel="stylesheet" href="/public/machome/style/bootstrap-datetimepicker.min.css">
  <script src="/public/machome/js/bootstrap-datepicker.js"></script>

  <!-- Stylesheets -->
  <link href="/public/machome/style/bootstrap.css" rel="stylesheet">
  <!-- Pretty Photo -->
  <link href="/public/machome/style/prettyPhoto.css" rel="stylesheet">
  <!-- Flex slider -->
  <link href="/public/machome/style/flexslider.css" rel="stylesheet">
  <!-- Font awesome icon -->
  <link rel="stylesheet" href="/public/machome/style/font-awesome.css">
  <!-- Parallax slider -->
  <link rel="stylesheet" href="/public/machome/style/slider.css">
  <!-- Refind slider -->
  <link rel="stylesheet" href="/public/machome/style/refineslide.css">  
  <!-- Main stylesheet -->
  <link href="/public/machome/style/style.css" rel="stylesheet">
  <!-- Stylesheet for Color -->
  <link href="/public/machome/style/orange.css" rel="stylesheet">
  <!-- Responsive style (from Bootstrap) -->
  <link href="/public/machome/style/bootstrap-responsive.css" rel="stylesheet">
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="/public/machome/js/html5shim.js"></script>
  <![endif]-->

</head>

<body>

<!-- Header starts -->
    <div class="container">
      <div class="row">
          <!-- Logo. Use class "color" to add color to the text. -->
          <div class="logo">
            <a href="/Application/mobileHome"><img src="/public/images/volando_logo.png" /></a>
          </div>
      </div>
    </div>

  <!-- Seperator -->

  <div class="sep"></div>

  <!-- Header ends -->
        #{doLayout /}
    <!-- Footer starts -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span12">

            <div class="row">

              <div class="span4">
                <div class="widget">
                  <h5>Contact</h5>
                  <hr />
                  <i class="icon-home"></i> &nbsp; 233新北市烏來區堰堤3號.
                  <hr />
                  <i class="icon-phone"></i> &nbsp; +886-2-2661-6555
                  <hr />
                  <i class="icon-envelope-alt"></i> &nbsp; <a href="mailto:#">fo@volandourai.com.tw</a>
                </div>
              </div>
              
            </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer> 	

<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 

<!-- JS -->
<script src="/public/machome/js/jquery.js"></script> <!-- jQuery -->
<script src="/public/machome/js/bootstrap.js"></script> <!-- Bootstrap -->
<script src="/public/machome/js/jquery.isotope.js"></script> <!-- Isotope -->
<script src="/public/machome/js/jquery.prettyPhoto.js"></script> <!-- Pretty Photo -->
<script src="/public/machome/js/filter.js"></script> <!-- Filter for support page -->
<script src="/public/machome/js/jquery.tweet.js"></script> <!-- Twitter -->
<script src="/public/machome/js/jquery.flexslider-min.js"></script> <!-- Flex slider -->
<script src="/public/machome/js/jquery.cslider.js"></script> <!-- Parallax Slider -->
<script src="/public/machome/js/modernizr.custom.28468.js"></script> <!-- Parallax slider extra -->

<script src="/public/machome/js/jquery.carouFredSel-6.1.0-packed.js"></script> <!-- Carousel for recent posts -->
<script src="/public/machome/js/jquery.refineslide.min.js"></script> <!-- Refind slider -->
<script src="/public/machome/js/custom.js"></script> <!-- Custom codes -->

</body>
</html>
