#{extends 'main_admin.html' /}
#{set title:'資訊管理 - 資訊編輯' /}<!-- Main bar -->
  	<div class="mainbar">

      <!-- Page heading -->
      <div class="page-head">
        <h2 class="pull-left"><i class="icon-home"></i> 資訊編輯</h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="/admin"><i class="icon-home"></i> Home</a>
	  <span class="divider">/</span>  
	  <a href="/InformationManagement/list">資訊管理</a>          
	<!-- Divider -->
          <span class="divider">/</span> 
          <a href="#" class="bread-current">資訊編輯</a>
        </div>

        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->


	    <!-- Matter -->
	 #{form  @updateInformationByID(id), enctype:'multipart/form-data', id:'myForm'}
	    <div class="matter">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span8">

		<script type="text/javascript">
		      $(document).ready(function() {
			$("#myCleditor").cleditor({
			    width: 550,
			    height: 500			
			});
			$.cleditor.buttons.image.uploadUrl = '/cleditor/uploader/images';

			$(".uni .radio").click(function(){
			    if($(this).find("span").hasClass("checked")){
				$(".uni .radio input[name=type]").attr("checked", false);
				$(this).find("input[name=type]").attr("checked", true);
			    }
			});
			


			$(".uni .radio input[value=${information.type}]").attr("checked", true);
			$(".uni .radio input[value=${information.type}]").parent().addClass("checked");
		      });
		</script>	      

              <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">資訊編號 ${information?.id} 編輯</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                  <div class="padd">
                    
                    <input name="title" type="text" class="span8" placeholder="文章標題" value="${information?.title}" />
                    <br />
                    <!--<button class="btn"><i class="icon-paper-clip"></i> 新增圖片</button>-->
                    <div class="text-area">
                        <!-- Add the "cleditor" to textarea to add CLeditor -->
                        <textarea id="myCleditor" style="width: 500px; height: 300px;" name="content">${information?.content}</textarea>

                    </div>

                  </div>
                  <div class="widget-foot">
                    <!--Word Count : 205-->
                  </div>
                </div>
              </div>  
      
            </div>

            <!-- post sidebar -->

            <div class="span4">

              <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">分類與標籤</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                  <div class="padd">

                <!--    <form> -->

                      <h6>類別</h6>
                      <hr />
                      <div class="uni">
                        <label><input name="type" type='radio' value='traffic' /> 交通資訊</label>
			<label><input name="type" type='radio' value='trip' /> 烏來觀光</label>
                      <!--  <label><input name="type" type='radio' value='qa' /> 常見問答</label>
                        <label><input name="type" type='radio' value='comment' /> 意見反應</label>-->
			
		      </div>

                      <hr />
                 <!--     <h6>標籤</h6>
                      <hr />
                      <input name="tag" class="span12" type="text" placeholder="請以逗號區隔標籤" value="${information?.tag}">
		      <input  type="hidden"  name="saveAsDraft" value="yes" />
                      <hr /> -->
		      <h6>新增文章時間</h6>
                      <p>#{if information.create_time}${information?.create_time.format('yyyy-MM-dd hh:mm:ss')}#{/if}#{else} - #{/else}</p>
                      <h6>最後更新時間</h6>
                      <p>#{if information.update_time}${information?.update_time.format('yyyy-MM-dd hh:mm:ss')}#{/if}#{else} - #{/else}</p>
		     <!-- <h6>發布狀態</h6>
                      <p>
		      #{if information?.isDraft == true}草稿#{/if}
		      #{else}已發布#{/else}
		      </p>-->
		      <hr />

                    <!--  <button type="button" class="btn" onClick="$('input[name=saveAsDraft]').val('yes'); $('#myForm').submit();">存成草稿</button> -->
                      <button type="button" class="btn btn-info" onClick="$('input[name=saveAsDraft]').val('no'); $('#myForm').submit();">發布</button>
                      <button type="button" class="btn btn-danger" onClick="deleteConfirm(${information?.id})">刪除文章</button>

                <!--    </form> -->


		     <script type="text/javascript">
				function deleteConfirm(id){
					if(confirm("您確定要永久刪除此資料？")){
						location.href="/InformationManagement/"+ id + "/deleteRecord";		
					}
				}
			</script>	

                  </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
                </div>
              </div>  

            </div>

          </div>
        </div>
		  </div>
		#{/form}
		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->
