#{extends 'main_admin.html' /}
#{set title:'湯屋管理 - 溫泉編輯' /}
<!-- Main bar -->
  	<div class="mainbar">

      <!-- Page heading -->
      <div class="page-head">
        <h2 class="pull-left"><i class="icon-home"></i> 湯屋編輯</h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="/admin"><i class="icon-home"></i> Home</a>
	  <span class="divider">/</span>  
	  <a href="/HotspringManagement/records">湯屋管理</a>          
	<!-- Divider -->
          <span class="divider">/</span> 
          <a href="#" class="bread-current">湯屋編輯</a>
        </div>

        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->
	<script language="javascript">
	    var now_image_id;
	    $(document).ready(function() { 	
		$('#imageform').ajaxForm( {
		    beforeSubmit: function() {
			$(this).addClass('loading');
			$('#uploadBox' + +now_image_id).html('<div id="progressOverlay"><div class="progress progress-striped"><div class="bar" id="progressBar" style="width: 0%;">0%</div></div></div>');
		    },
		    uploadProgress: function ( event, position, total, percentComplete ) {
			if (percentComplete == 100) {
			    $('#progressBar').css('width',percentComplete+'%').html('圖片上傳完成');
			} else {
			    $('#progressBar').css('width',percentComplete+'%').html(percentComplete+'%');
			}
		    },
		    success : function ( html ) {
			//Your Custom JS Code Here
			content = "<img style='width: 200px;' src='" + html + "' />";	
			$('#uploadBox'+now_image_id).html(content);
			$('#pic_location'+now_image_id).val(html);
		    }
		});
	    }); 
	</script>
	<form id="imageform" method="post" enctype="multipart/form-data" action="/Application/uploader/images">
	    <input type="file" class="hide" name="imageName" id="photoimg" onchange="$(this.form).submit();"/>
	</form>


	    <!-- Matter -->
	
	    <div class="matter">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span8">

              <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">湯屋編號: ${hot?.id} 編輯</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                  <div class="padd">
                   #{form @updatehotspringbyID(id), enctype:'multipart/form-data'}
                  
                    	<div class="well"><label>湯屋名稱 :</label>
							 <input type="text" name="name" value="${hot.name == null ? '' : hot.name}" class="span8" style="height: 30px;" >
						</div>

						<div class="well"><label>封面圖片:</label>
							#{if hot.pic_location != "" && hot.pic_location != null}
							<div id="oldImageBox" style="margin-bottom: 10px;">
								<label>已上傳之圖片</label>								
								<img style="width: 200px" src="${hot.pic_location == null ? '' : hot.pic_location}" />
							</div>							    	
							#{/if}
							    							    
						
							<button class="btn" type="button" onClick="now_image_id=' '; $('#photoimg').click();">
								上傳圖片
							</button>
							<input type="hidden" name="pic_location" id="pic_location" value="${hot.pic_location == null ? '' : hot.pic_location}" />
							<div style="margin-top: 10px;" id="uploadBox">
							
							</div>

						</div>
					        
						<style>
							.innerImageBlock{
								width: 200px;
								height: 200px;
								float: left;
								margin: 10px;
							}
						</style>

						<div class="well" style="height: 440px;"><label>內頁圖:</label>
							<div class="innerImageBlock">
								#{if hot.pic_location2 != "" && hot.pic_location2 != null}
								<div id="oldImageBox" style="margin-bottom: 10px;">
									<label>已上傳之圖片</label>								
									<img style="width: 200px" src="${hot.pic_location2 == null ? '' : hot.pic_location2}" />
								</div>							    	
								#{/if}
								    							    
						
								<button class="btn" type="button" onClick="now_image_id='2'; $('#photoimg').click();">
									上傳內頁1
								</button>
								<input type="hidden" name="pic_location2" id="pic_location2" value="${hot.pic_location2 == null ? '' : hot.pic_location2}" />
								<div style="margin-top: 10px;" id="uploadBox2">
							
								</div>
							</div>


							

							<div class="innerImageBlock">
								#{if hot.pic_location3 != "" && hot.pic_location3 != null}
								<div id="oldImageBox" style="margin-bottom: 10px;">
									<label>已上傳之圖片</label>								
									<img style="width: 200px" src="${hot.pic_location3 == null ? '' : hot.pic_location3}" />
								</div>							    	
								#{/if}
								    							    
						
								<button class="btn" type="button" onClick="now_image_id='3'; $('#photoimg').click();">
									上傳內頁2
								</button>
								<input type="hidden" name="pic_location3" id="pic_location3" value="${hot.pic_location3 == null ? '' : hot.pic_location3}" />
								<div style="margin-top: 10px;" id="uploadBox3">
							
								</div>
							</div>

							<div class="innerImageBlock">
								#{if hot.pic_location4 != "" && hot.pic_location4 != null}
								<div id="oldImageBox" style="margin-bottom: 10px;">
									<label>已上傳之圖片</label>								
									<img style="width: 200px" src="${hot.pic_location4 == null ? '' : hot.pic_location4}" />
								</div>							    	
								#{/if}
								    							    
						
								<button class="btn" type="button" onClick="now_image_id='4'; $('#photoimg').click();">
									上傳內頁3
								</button>
								<input type="hidden" name="pic_location4" id="pic_location4" value="${hot.pic_location4 == null ? '' : hot.pic_location4}" />
								<div style="margin-top: 10px;" id="uploadBox4">
							
								</div>
							</div>

							<div class="innerImageBlock">
								#{if hot.pic_location5 != "" && hot.pic_location5 != null}
								<div id="oldImageBox" style="margin-bottom: 10px;">
									<label>已上傳之圖片</label>								
									<img style="width: 200px" src="${hot.pic_location5 == null ? '' : hot.pic_location5}" />
								</div>							    	
								#{/if}
								    							    
						
								<button class="btn" type="button" onClick="now_image_id='5'; $('#photoimg').click();">
									上傳內頁4
								</button>
								<input type="hidden" name="pic_location5" id="pic_location5" value="${hot.pic_location5 == null ? '' : hot.pic_location5}" />
								<div style="margin-top: 10px;" id="uploadBox5">
							
								</div>
							</div>

							<div class="innerImageBlock">
								#{if hot.pic_location6 != "" && hot.pic_location6 != null}
								<div id="oldImageBox" style="margin-bottom: 10px;">
									<label>已上傳之圖片</label>								
									<img style="width: 200px" src="${hot.pic_location6 == null ? '' : hot.pic_location6}" />
								</div>							    	
								#{/if}
								    							    
						
								<button class="btn" type="button" onClick="now_image_id='6'; $('#photoimg').click();">
									上傳內頁5
								</button>
								<input type="hidden" name="pic_location6" id="pic_location6" value="${hot.pic_location2 == null ? '' : hot.pic_location6}" />
								<div style="margin-top: 10px;" id="uploadBox6">
							
								</div>
							</div>

							<div class="innerImageBlock">
								#{if hot.pic_location7 != "" && hot.pic_location7 != null}

								<div id="oldImageBox" style="margin-bottom: 10px;">
									<label>已上傳之圖片</label>								
									<img style="width: 200px" src="${hot.pic_location7 == null ? '' : hot.pic_location7}" />
								</div>							    	

								#{/if}
								    							    
						
								<button class="btn" type="button" onClick="now_image_id='7'; $('#photoimg').click();">

									上傳內頁6
								</button>
								<input type="hidden" name="pic_location7" id="pic_location7" value="${hot.pic_location7 == null ? '' : hot.pic_location7}" />
								<div style="margin-top: 10px;" id="uploadBox7">

							
								</div>
							</div>
							
						</div>
 <div class="clearfix"></div>
                </div>

						<div class="well"><label>描述1:</label>
							<input type="text" name="prize_day" value="${hot.prize_day == null ? '' : hot.prize_day}" class="span8" style="height: 30px;"><br/>
						</div>
						<div class="well"><label>描述2:</label>
							<input type="text" name="prize_holigy" value="${hot.prize_holigy == null ? '' : hot.prize_holigy}" class="span8" style="height: 30px;"><br/>
						</div>
                       <div class="well"><label>描述3:</label>
                           <input type="text" name="prize_day2" value="${hot.prize_day2 == null ? '' : hot.prize_day2}" class="span8" style="height: 30px;"><br/>
                       </div>
                       <div class="well"><label>描述4:</label>
                           <input type="text" name="prize_day3" value="${hot.prize_day3 == null ? '' : hot.prize_day3}" class="span8" style="height: 30px;"><br/>
                       </div>
						<div class="well"><label>湯屋坪數:</label>
							<input type="text" name="size" value="${hot.size == null ? '' : hot.size}" class="span8" style="height: 30px;"><br/>
						</div>
			
						<div class="well"><label>描述 :</label>
							<textarea id="description" style="width: 500px; height: 100px;" name="description">${hot?.description}</textarea>
						</div>
						
                       <div class="well"><label>使用說明 :</label>
                           <textarea id="information" style="width: 500px; height: 100px;" name="information">${hot?.information}</textarea>
                       </div>

						<div class="center"><input type="submit" name="submit" value="Submit" style="width:120px; height:32px; margin-top:30px"></div>
					#{/form}
                   
                  </div>
                  <div class="widget-foot">
                    <!--Word Count : 205-->
                  </div>
                </div>
              </div>  
            </div>
		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->

   
