#{extends 'main.html' /}
#{set title:'馥蘭朵烏來渡假酒店 Volando Urai Spring SPA Resort - 專案優惠' /}


	<div class="block">
            <div class="block2">
					<!--<div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Project/list/mi"><img src="/public/images/project/t-1.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td>
					<a href="/Project/list/mi"><img src="/public/images/project/p-1.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>-->
                    
                    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Project/list/hotel"><img src="/public/images/project/t-2.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Project/list/hotel"><img src="/public/images/project/p-2.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>

		<div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Project/list/meeting"><img src="/public/images/project/t-5.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Project/list/meeting"><img src="/public/images/project/p-5.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>

                    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Project/list/hotspring"><img src="/public/images/project/t-6.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Project/list/hotspring"><img src="/public/images/project/p-6.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
                    
                    
                   
	  		</div><!--eof block2-->
	</div>
    <div class="main-footer-block"></div>


  
