#{extends 'main.html' /}
#{set title:'馥蘭朵烏來渡假酒店 Volando Urai Spring SPA Resort - 專案優惠' /}


	<div class="block">
            <div class="block2">
					<div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Project/list/mi"><img src="/public/images/project/t-1.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td>
					<a href="/Project/list/mi"><img src="/public/images/project/p-1.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
                    
                    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Project/list/hotel"><img src="/public/images/project/t-2.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Project/list/hotel"><img src="/public/images/project/p-2.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
                    <!--
                    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Project/list/catering"><img src="/public/images/project/t-3.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Project/list/catering"><img src="/public/images/project/p-3.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
                    -->
		<div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Project/list/meeting"><img src="/public/images/project/t-5.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Project/list/meeting"><img src="/public/images/project/p-5.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>

                    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Project/list/hotspring"><img src="/public/images/project/t-6.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Project/list/hotspring"><img src="/public/images/project/p-6.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
                    
                    
                    <!--
                    <div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Project/list/hotspring"><img src="/public/images/project/t-6.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                                <tr><td height="12"></td></tr>
                                <tr>
                                  <td><a href="/Project/list/hotspring"><img src="/public/images/project/p-6.png" alt="" width="300" height="200" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
                   

		<div class="items">
                            <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <img src="/public/images/line-v.png" alt="" width="12" height="23" /><a href="/Project/list/others"><img src="/public/images/project/t-other.gif" alt="" width="200" height="28" /></a>
                                  </td>
                                </tr>
                            </table>
              		</div>
                      -->
	  		</div><!--eof block2-->
	</div>
    <div class="main-footer-block"></div>


<!-- Page content starts 
<div class="content">
	<div class="block"></div>
        <div class="block">
                <div id="about_header">
                		
                        <div id="about-logo-2"></div>
                </div>
                
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                                <td>
                                        <span class="leftfloat">
                                        <img src="/public/images/line-v.png" alt="" width="12" height="23" />
                                        
					<a href="/Project/list/mi">米靈岸專區</a> | 
					<a href="/Project/list/hotel">住宿專案</a> | 
					<a href="/Project/list/meeting">會議專案</a> | 
					<a href="/Project/list/hotspring">湯宴</a> | 
					<a href="/Project/list/others">其他專案</a>
					
                                        </span>
                                        <span class="rightfloat">
                                        <img src="/public/images/line-v.png" alt="" width="12" height="23" />
                                        <img src="/public/images/about/topic-2.png" alt="" width="211" height="28" />
                                        </span>
                                </td>
                  </tr>
                </table>
        </div>

		#{if project}
		     	#{list project, as:'project'}
            
		  		<div class="block">
				<img src="/public/images/line-v.png" alt="" width="12" height="23" />
				${project?.title} 
				(
					#{if project?.type == "mi"}米靈岸專區#{/if} 
					#{elseif project?.type == "hotel"}住宿專案#{/elseif}
					#{elseif project?.type == "meeting"}會議專案#{/elseif}
					#{elseif project?.type == "hotspring"}湯宴#{/elseif}
					#{elseif project?.type == "others"}其他專案#{/elseif}			
				)
			    	${project?.publish_time?.format('yyyy/MM/dd')}
				<table width="100%" border="0" cellpadding="0" cellspacing="10">
					<tr>
					    <td><div>${project?.content.raw()}</div></td>
					</tr>
				</table>
				</div>

			#{/list}
		#{/if}
		#{else}
			目前尚無已公佈之資訊。
		#{/else}
      </div>  -->
  
