#{extends 'main.html' /}
#{set title:'Membership - Edit User' /}

#{form @doUpload(id, email, password, username, name, phone, address, gender), enctype:'multipart/form-data'}

<div class="content_first">


    <div class="cato draft">  
        <div class="text_l center">編輯個人資料</div>
        <div class="dashed2"></div>
        <div id="profile" class="center">
            <div>
                <div class="text_m inline_block_top" style="line-height: 35px">
                    <label>Email<input class="span3" type="text" value = "${user?.email}" name="email"/></label>
                    <label>密碼<input class="span3" type="text" value = "${user?.password}" name="password"/></label>
                    <label>暱稱<input class="span3" type="text" value = "${user?.username}" name="username"/></label>
                    <label>真實姓名<input class="span3" type="text" value = "${user?.name}" name="name"/></label>
                    <label>電話<input class="span3" type="text" value = "${user?.phone}" name="phone"/></label>
                    <label>地址<input class="span3" type="text" value = "${user?.address}" name="address"/></label>
                   
                    <div id="myGender" class="btn-group" data-toggle="buttons-radio">
                            <button type="button" class='btn #{if user?.gender == "boy"}active #{/if}'>男生</button>
                            <button type="button" class='btn #{if user?.gender == "girl"}active #{/if}'>女生</button>
                    </div>
                </div>
           </div>
        </div>
        
        <script language="javascript">
			function submitSetting(obj){
				
				if($("#myGender .active").html() == "男生"){
					$("input[name=gender]").val("boy");
				}
				else if($("#myGender .active").html() == "女生"){
					$("input[name=gender]").val("girl");
				}
				
				obj.form.submit();
			}
		</script>
		
    <div class="center">
        <button type="button" class="btn btn-large" onClick="submitSetting(this)" style="margin-right: 50px;"><span class="text_l">儲存資料</span></button>
        <button type="button" class="btn btn-large" onClick="location.href='/user/profile'"><span class="text_l">稍候再填</span></button>
    </div>
        
    </div>


</div>

#{/form}




